{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}报警过滤器 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
    <style>
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #2a80eb;
      padding: 2px 4px;
      background-color: #2a80eb;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}报警过滤器 <span id="top_msg">{{top_msg}}</span></h2>
                <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" data-parsley-validate  >

                     <input type="hidden" name="handle"  value="{{ handle }}">
                     <input type="hidden" name="code"  value="{{ obj.code }}">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">编号 </label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <input type="text"  value="{{ obj.code }}" class="form-control" disabled="disabled">
                  </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">名称 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="name" value="{{ obj.name }}" required="required" class="form-control">
                  </div>
                </div>


               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">请求地址 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="url" value="{{ obj.url }}" required="required"  class="form-control">
                  </div>
                </div>
          <div class="form-group">
               <label class="control-label col-md-3 col-sm-3 col-xs-12">状态 <span class="required" style="color: red;">*</span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                     <div class="radio">
                      <label>
                        <input type="radio" {% if obj.state == 1 %} checked="checked" {% endif %} value="1" name="state"> 启用
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" {% if obj.state == 0 %} checked="checked" {% endif %} value="0" name="state"> 不启用
                      </label>
                    </div>
                    </div>
              </div>

                             <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">扩展参数 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <textarea name="extend_params" class="form-control" rows="3" >{{ obj.extend_params }}</textarea>
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                  </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="remark" value="{{ obj.remark }}"  class="form-control">
                  </div>

                </div>



                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">返回</button>
                    <button type="submit" class="btn btn-success">提交</button>

                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

let handle = "{{ handle }}";
let ele_input_name= $("input[name='name']");
let ele_input_url = $("input[name='url']");
$(document).ready(function () {
   $("form").submit(function () {
        if(ele_input_name.val().trim() === ""){
            myAlert("请输入名称","error");
            return false;
        }
        let url = ele_input_url.val().trim();
        if(url === ""){
            myAlert("请输入请求地址","error");
            return false;
        }
        if(url.startsWith("http://") || url.startsWith("https://") ){
            //
        }else{
            //不支持
            myAlert("请求地址格式不正确","error");
            return false;
        }

       if("add" === handle){
            //添加

       }else {
            //更新

       }

   });
});
function f_docs() {
    let url= "{{ settings.docs.alarmFilterAdd }}";
    window.open(url);
}
</script>

{% endblock javascripts %}
