{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}计划 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
<style>

</style>
{% endblock stylesheets %}
{% block content %}
<script>
    let cycleDict = {};//计划周期字典
    let cycleCode;//当前选择的周期编号
</script>

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}计划 <span id="top_msg">{{top_msg}}</span></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form class="form-horizontal form-label-left"  method="post"  data-parsley-validate  >

                     <input type="hidden" name="handle"  value="{{ handle }}">
                     <input type="hidden" name="code"  value="{{ plan.code }}">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">计划编号 </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <span style="height: 34px;line-height: 34px;padding: 6px 0;">{{ plan.code }}</span>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">选择任务 <span class="required" style="color: red;">*</span></label>

                <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="select_task" name="task_code" class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for task in tasks %}
                                        <option {% if task.code == plan.task_code %} selected {% endif %} value="{{ task.code }}">
                                            {{ task.name }}
                                        </option>
                                {% endfor %}
                            </select>
                    </div>
                </div>

                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">任务扩展参数 <span class="required" style="color: red;">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea rows="3" name="task_params" class="form-control col-md-7 col-xs-12">{{ plan.task_params }}</textarea>
                      </div>
                </div>

                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">执行周期 <span class="required" style="color: red;">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="select_cycle" name="cycle_code"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for cycle in cycles %}
                                     <script>
                                        cycleCode = '{{ cycle.code }}';
                                        cycleDict[cycleCode] = {
                                            "code":cycleCode,
                                            "name":'{{ cycle.name }}',
                                            "params":'{{ cycle.params }}'
                                        }
                                     </script>
                                        <option {% if cycle.code == plan.cycle_code %} selected {% endif %} value="{{ cycle.code }}">
                                            {{ cycle.name }}
                                        </option>
                                {% endfor %}
                            </select>
                    </div>
                </div>

                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">周期扩展参数 <span class="required" style="color: red;">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="cycle_params"  required="required" value="{{ plan.cycle_params }}"  class="form-control">
                      </div>
                </div>

                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">状态 <span class="required" style="color: red;">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                          <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="state" value="1" class="flat"  {% if 1 == plan.state %}checked="checked"{% endif %} >
                         </label>
                         <label  class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="state" value="0" class="flat"  {% if 0 == plan.state %}checked="checked"{% endif %} >
                         </label>

                      </div>
                </div>


                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">返回</button>
                    <button type="submit" class="btn btn-success">提交</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

let handle = "{{ handle }}";
let plan_code = "{{ plan.code }}";
let ele_select_task= $("#select_task");// select task
let ele_select_cycle= $("#select_cycle");// select cycle
let ele_input_task_params= $("input[name='task_params']");
let ele_input_cycle_params= $("input[name='cycle_params']");

ele_select_cycle.change(function () {
    cycleCode = $(this).val();
    let val = cycleDict[cycleCode];
    if(val){
        ele_input_cycle_params.val(val["params"])
    }else{
        ele_input_cycle_params.val("");
    }
});

$(document).ready(function () {
   $("form").submit(function () {

        let task_code = ele_select_task.val().trim();
        if(task_code === "0"){
            myAlert("请选择任务","error");
            return false;
        }
        let cycle_code = ele_select_cycle.val().trim();
        if(cycle_code === "0"){
            myAlert("请选择执行周期","error");
            return false;
        }
       if("add" === handle){
            //添加



       }else {
            //更新

       }

   });
});

</script>

{% endblock javascripts %}
