{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}录像 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
<style>

    .my_radio_label{
        font-size: 12px;
        color: black;
        padding: 4px;
    }
    .my_radio_label input{
        padding-left: 4px;
    }
</style>
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}录像 <span id="top_msg">{{top_msg}}</span></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <div class="form-horizontal form-label-left" >

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">录像编号 </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" disabled value="{{ streamRecord.code }}" class="form-control" >
                  </div>
                </div>

                             <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">关联摄像头 <span class="required" style="color: red;">*</span></label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="stream_code" class="form-control" {% if "edit" == handle %}disabled{% endif %}>
                            <option value="0">请选择</option>
                            {% for stream in streams %}
                                 <option  {% if stream.code == streamRecord.stream_code %} selected {% endif %}  value="{{ stream.code }}">{{ stream.nickname }}</option>
                            {% endfor %}
                        </select>
                  </div>
                </div>


               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">录像天数 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="record_day" value="{{ streamRecord.record_day }}" required="required"  class="form-control">
                  </div>
                </div>

                             <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">音频输出 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                            <select name="audio_type" class="form-control">
                            <option value="0">请选择</option>
                            {% for item in audio_types %}
                                 <option  {% if item.type == streamRecord.audio_type %} selected {% endif %}  value="{{ item.type }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >是否启动 <span class="required" style="color: red;">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="my_radio_label">启动&nbsp;&nbsp;<input type="radio" name="is_record" value="1" class="flat"  {% if 1 == streamRecord.is_record %}checked="checked"{% endif %} >
                    </label>
                    <label class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="is_record" value="0"  class="flat" {% if 0 == streamRecord.is_record %}checked="checked"{% endif %}  >
                    </label>

                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">录制时段
                  </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea rows="2" name="record_time_range" disabled class="form-control col-md-7 col-xs-12" placeholder="暂不支持设置录制时段">{{ streamRecord.record_time_range }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                      <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">返回</button>
                        <button type="button" onclick="f_handle()" class="btn btn-success">提交</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

let handle = "{{ handle }}";
let record_code = "{{ streamRecord.code }}";

function f_handle() {
    let eleSelectStreamCode = $("select[name='stream_code']");
    let eleInputRecordDay = $("input[name='record_day']");
    let eleSelectAudioType = $("select[name='audio_type']");
    let ele_is_record  = $("input[type=radio][name='is_record']:checked");
    let ele_record_time_range= $("textarea[name='record_time_range']");


    let stream_code = eleSelectStreamCode.val().trim()
    let record_day = parseInt(eleInputRecordDay.val());
    let audio_type = parseInt(eleSelectAudioType.val());
    let is_record = parseInt(ele_is_record.val());
    let record_time_range = ele_record_time_range.val().trim();

    if(stream_code === "" || stream_code === "0"){
         myAlert("请选择一个摄像头！","error");
         return false
    }

    let handle_url;
    if(handle === "add"){
        handle_url = "/streamRecord/add";
    } else if(handle === "edit"){
        handle_url = "/streamRecord/edit";
    }else{
         myAlert("操作不合法！","error");
         return false
    }
    $.ajax({
       url: handle_url,
       type: "post",
       async: true,
       data: {
           "handle":handle,
           "code":record_code,
           "stream_code": stream_code,
           "record_day": record_day,
           "audio_type": audio_type,
           "is_record": is_record,
           "record_time_range": record_time_range
       },
       dataType: "json",
       timeout: 0,
       error: function () {
            myAlert("网络异常，请确定网络正常！","error");
       },
       success: function (res) {
           if(1000 === res.code){
               myAlert(res.msg,"success",1000);
               setTimeout(function () {
                        window.location.href= "/streamRecord/index";
                    }, 1000);
           }else{
               myAlert(res.msg,"error");
           }
       }
    });

}

</script>

{% endblock javascripts %}
