{% extends "app/base_site.html" %}

{% block title %} 单屏播放器 {% endblock title %}

{% block stylesheets %}
{{ block.super }}

{% endblock stylesheets %}

{% block content %}
<style>
      #input_address {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        font-size: 13px;
          font-weight: normal;
        height: 35px;
        line-height: 35px;
          width: 400px;

          margin-left: 15px;
        padding: 1px 10px;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);

      }
</style>

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                  <label>
                      <input id="input_address" type="text" placeholder="请输入播放地址（支持ws-fmp4/http-fmp4）">
                  </label>
                  <button style="margin-left: 10px;"  type="button" class="btn btn-success btn-sm" onclick="f_clickPlayStart()">播放</button>
                  <button type="button" class="btn btn-default btn-sm" onclick="f_clickPlayStop()">停止</button>

                 <!--
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  -->

                    <div style="float: right; margin-top: 6px; margin-right: 50px;">
                        <button type="button" id="handle_snapshot"  class="btn btn-primary btn-sm">截图</button>
                        <button type="button" id="handle_record"  class="btn btn-primary btn-sm">开启录像</button>
                    </div>

                  <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="video_player" style="background-color: black;min-height: 500px;"></div>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">

                 <div class="form-horizontal form-label-left">

                    {% if is_normal %}
                        <p style="margin-top:10px;font-size: 16px;">视频流支持的所有转发协议</p>
                        <p>{{ stream.wsMp4Url }}</p>
                        <!--<p>{{ stream.wsFlvUrl }}</p>-->
                        <p>{{ stream.httpMp4Url }}</p>
                        <!--<p>{{ stream.httpFlvUrl }}</p>-->
                        <p>{{ stream.rtspUrl }}</p>
                     {% endif %}
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/lib/easyPlayer/js/easyplayer-pro.js"></script>
<script>
    let stream_app = "{{ stream.app }}";
    let stream_name = "{{ stream.name }}";
    let eleInputAddress= $("#input_address");
    let eleHandleSnapshot = $("#handle_snapshot");
    let eleHandleRecord = $("#handle_record");
    let mCurrentIsRecording = false;
    let eleVideoPlayer = document.querySelector('#video_player');
    let ePlayer = null;
    function f_createEPlayer() {
        ePlayer = new EasyPlayerPro({
            container: eleVideoPlayer,
            videoBuffer: 0.1, // 缓存时长
            videoBufferDelay: Number(3), // 1000s 达到延迟重播(s)
            decoder: '/static/lib/easyPlayer/js/decoder-pro.js',
            isResize: true,
            loadingText: "加载中",
            debug: false,
            debugLevel: "debug",
            useMSE: true,
            useSIMD: false,
            useWCS: true,
            hasAudio: true,
            websocket1006ErrorReplay: true,
            networkDelayTimeoutReplay: true,
            useMThreading: true,
            showBandwidth: true, // 显示网速
            showPerformance: true, // 显示性能
            operateBtns: {
                fullscreen: true,
                screenshot: true,
                play: true,
                audio: true,
                ptz: false,
                quality: false,
                performance: true,
                screenshotFn: f_screenshotFn,
            },
            background: "/static/images/player_poster.jpg",
            timeout: 10,
            qualityConfig: ['普清', '高清', '超清'],
            forceNoOffscreen: true,
            isNotMute: false,
            heartTimeout: Number(7),//超出时间无数据重连(s)
            ptzClickType: 'mouseDownAndUp',
            ptzZoomShow: true,
            ptzMoreArrowShow: true,
            ptzApertureShow: true,
            ptzFocusShow: true,
            pauseAndNextPlayUseLastFrameShow: true,
            heartTimeoutReplayUseLastFrameShow: true,
            replayUseLastFrameShow: true, // 重播使用上一帧显示
            fullscreenWatermarkConfig: {
                text: "", //水印
            }
        });
    }
    const f_screenshotFn = () => {
        if (ePlayer) {
            ePlayer.screenshotWatermark({
                text: {
                    content: ``,//水印
                    fontSize: '46',
                    color: 'rgba(100,100,100,.6)',
                },
                opacity: 0.8,
                right: 20,
                top: 50,
            });
        }
    };
    function f_playStart(video_url) {
        if(video_url === "" || typeof video_url === "undefined"){
            myAlert("请输入播放地址（支持ws-fmp4/http-fmp4）！","error");
            return false;
        }
        if(!video_url.endsWith(".mp4")){
            myAlert("视频流地址格式不正确！","error");
            return false;
        }
        if(video_url.startsWith("ws://") || video_url.startsWith("http://")){
            if (ePlayer) {
                ePlayer.destroy().then(() => {
                    f_createEPlayer();
                    ePlayer.play(video_url);
                });
            } else {
                f_createEPlayer();
                ePlayer.play(video_url);
            }
        }else{
             myAlert("视频流地址格式不正确！","error");
             return false;
        }
    }

    function f_playStop() {
        if(ePlayer){
            //ePlayer.pause();
            ePlayer.destroy();
        }
    }

    function f_clickPlayStart() {
        let video_url = eleInputAddress.val().trim();
        f_playStart(video_url);
    }
	function f_clickPlayStop() {
        f_playStop();
    }
    function f_getVideoIsRecording() {
        $.ajax({
               url: "/nvr/getVideoIsRecording",
               type: "get",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.html("停止录像");
                       eleHandleRecord.removeClass("btn-primary")
                       eleHandleRecord.addClass("btn-danger")
                        mCurrentIsRecording = true;
                   }
               }
            });
    }
    eleHandleSnapshot.click(function () {
        $.ajax({
           url: "/nvr/postSnapShot",
           type: "post",
           async: true,
           data: {"app":stream_app,"name":stream_name},
           dataType: "json",
           timeout: 0,
           error: function () {
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                       let info = res.info;

                       let snapshot_ret = info["snapshot_ret"]
                       let snapshot_msg = info["snapshot_msg"]
                       if(snapshot_ret===true){
                           let snapshot_filename = info["snapshot_filename"] //绝对路径
                           let download_url = "/storage/download?filename="+snapshot_filename;
                           window.open(download_url);
                       }else{
                           myAlert(snapshot_msg,"error");
                       }
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });
    })
    eleHandleRecord.click(function () {
        //开启录像和停止录像
        console.log("stream_app->",typeof stream_app,stream_app)
        console.log("stream_name->",typeof stream_name,stream_name)

        if(mCurrentIsRecording){
            //当前正在录制中，接下来执行停止录像
            $.ajax({
               url: "/nvr/postStopRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.html("开启录像");
                       eleHandleRecord.removeClass("btn-danger")
                       eleHandleRecord.addClass("btn-primary")

                       mCurrentIsRecording = false;
                       let info = res.info;

                       let record_ret = info["record_ret"]
                       let record_msg = info["record_msg"]
                       if(record_ret===true){
                           let record_video_filename = info["record_video_filename"]
                           let download_url = "/storage/download?filename="+record_video_filename;
                           window.open(download_url);
                       }else{
                           myAlert(record_msg,"error");
                       }
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

        }else{
            //当前未录制，接下来开启录像
            $.ajax({
               url: "/nvr/postStartRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                        eleHandleRecord.html("停止录像");
                       eleHandleRecord.removeClass("btn-primary")
                       eleHandleRecord.addClass("btn-danger")
                        mCurrentIsRecording = true;

                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });
        }
    });
    
    $(function() {
        let is_normal = parseInt("{{ is_normal }}");
        if(is_normal === 1){
            let is_online = parseInt("{{ stream.is_online }}");
            let video_codec_name = "{{ stream.video_codec_name }}";
            let video_width = parseInt("{{ stream.video_width }}");
            let video_height = parseInt("{{ stream.video_height }}");
            let app = "{{ stream.app }}";
            let name = "{{ stream.name }}";
            let wsHost = "{{ stream.wsHost }}";
            let wsMp4Url = "{{ stream.wsMp4Url }}";
            //let httpMp4Url = "{{ stream.httpMp4Url }}";
            //let rtspUrl = "{{ stream.rtspUrl }}";
            let video_url = wsMp4Url
            eleInputAddress.val(video_url);
            f_playStart(video_url);
        }
        f_getVideoIsRecording();
    });
</script>

{% endblock javascripts %}
