{% extends "app/base_site.html" %}

{% block title %} 人脸功能授权 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
<style>
    input[type="file"]{
      color: #3a3636;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #8f9093;
      padding: 2px 4px;
      background-color: #8f9093;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>人脸功能授权
                <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                <span id="top_msg">{{top_msg}}</span>
              </h2>
              <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="form-horizontal form-label-left" >
                        <!--
                    <p> <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                    </p>
                    <span class="section">Personal Info</span>-->

                    <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-md-offset-3">
                              <h4>人脸功能授权状态 <span id="module_status"><span class="btn-default btn-xs">查询中</span></span></h4>
                          </div>
                          <div class="col-md-6 col-sm-6 col-md-offset-3">
                              <h4>FaceV2模型授权状态 <span id="facev2_status"><span class="btn-default btn-xs">查询中</span></span></h4>
                          </div>

                          <div style="margin-top: 10px;" class="col-md-6 col-sm-6 col-md-offset-3">
                                <h4>免费授权试用15天FaceV2模型</h4>
                              <p style="margin-top: 10px;"><button type="button" onclick="f_postAuth('facev2','test')" class="btn btn-primary btn-sm" >免费授权</button></p>
                          </div>

                          <div style="margin-top: 10px;" class="col-md-6 col-sm-6 col-md-offset-3">
                              <h4>永久授权FaceV2模型（需联网）</h4>
                                <p style="margin-top: 10px;">
                                    <input name="facev2_code" type="text" class="form-control" placeholder="请输入授权码" >
                                </p>
                                <p style="margin-top: 10px;"><button type="button" onclick="f_postAuth('facev2','forever')" class="btn btn-primary btn-sm" >永久授权</button></p>
                          </div>
                    </div>


                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleModuleStatus = $("#module_status");
    let eleFaceV2Status = $("#facev2_status");
    let eleFaceV2Code = $("input[name='facev2_code']");

    function f_docs() {
        let url= "{{ settings.docs.facedbAdd }}";
        window.open(url);
    }
    function f_getAuthStatus() {
        ele_top_loading.show();
        $.ajax({
           url: "/facedb/getAuthStatus",
           type: "get",
           async: true,
           data: {},
           dataType: "json",
           timeout: 0,
           error: function () {
               ele_top_loading.hide();
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                   let info = res.info;
                   let moduleStatus = info["moduleStatus"];
                   let facev1Status = info["facev1Status"];
                   let facev2Status = info["facev2Status"];

                   if(moduleStatus === 1){
                        eleModuleStatus.html("<span class=\"btn-success btn-xs\">授权中</span>")
                    }else{
                        eleModuleStatus.html("<span class=\"btn-danger btn-xs\">未授权</span>")
                    }

                    if(facev2Status === 1){
                        eleFaceV2Status.html("<span class=\"btn-success btn-xs\">授权中</span>")
                    }else{
                        eleFaceV2Status.html("<span class=\"btn-danger btn-xs\">未授权</span>")
                    }
               }else{
                    eleModuleStatus.html("<span class=\"btn-danger btn-xs\">查询失败</span>")
                    eleFaceV2Status.html("<span class=\"btn-danger btn-xs\">查询失败</span>")
                    myAlert(res.msg,"error",2000);
               }
           }
        });

    }
    function f_postAuth(model,authType) {

        let authCode = "";
        if(model === "facev2"){
            if(authType === "forever"){
                authCode = eleFaceV2Code.val().trim();
                if(authCode === ""){
                    myAlert("永久授权需要输入授权码！","error");
                    return
                }
            }
        }
        ele_top_loading.show();
        $.ajax({
           url: "/facedb/postAuth",
           type: "post",
           async: true,
           data: {"model":model,"authType":authType,"authCode":authCode},
           dataType: "json",
           timeout: 0,
           error: function () {
               ele_top_loading.hide();
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                    setTimeout(function () {
                        f_getAuthStatus();
                    }, 2000);
                   myAlert(res.msg,"success",2000);
               }else{
                    myAlert(res.msg,"error",2000);
               }
           }
        });

    }

    window.onload = function (){
        f_getAuthStatus();

    };
</script>

{% endblock javascripts %}
