{% extends "app/base_site.html" %}

{% block title %} 布控管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>布控管理
             <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
             <span id="top_msg">{{top_msg}}</span>
          </h2>
            <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
            <button onclick="f_reload()" class="btn btn-primary btn-sm"> 刷新</button>
            <button onclick="f_postHandleControls('add')" class="btn btn-default btn-sm">执行全部</button>
            <button onclick="f_postHandleControls('cancel')" class="btn btn-default btn-sm">取消全部</button>
            <button onclick="f_postHandleControls('delete')" class="btn btn-default btn-sm">删除全部</button>

            <span id="top_info" style="float: right; font-size: 13px;color: #00A000;margin-top: 6px; margin-right: 50px;"></span>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <!--<p><code>msg</code></p>-->

          <div class="table-responsive">
           <table class="table table-bordered">
              <thead>
                <tr class="headings">
                  <th class="column-title">ID </th>
                  <th class="column-title">视频流 </th>
                  <th class="column-title">算法流 <i class="bxc_introduce fa fa-info-circle" title="算法流在布控执行时才能查看"></i></th>
                  <th class="column-title">算法 </th>
                  <th class="column-title">计算频率 </th>
                  <th class="column-title">状态 </th>
                  <th class="column-title">时间 </th>
                  <th class="column-title last"><span class="nobr">操作</span></th>
                </tr>
              </thead>

              <tbody id="data">
              </tbody>
            </table>
          </div>


        </div>
          <!--日志弹窗start -->
          <div id="controlLogDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" >布控日志</h4>
                  </div>
                  <div class="modal-body">
                    <div style="padding: 5px 20px;">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>日志内容</th>
                            <th>时间</th>
                          </tr>
                        </thead>
                        <tbody id="controlLogData">
                        <!--
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>@mdo</td>
                          </tr>
                        -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
           </div>
          <!--日志弹窗end -->

           <!--复制弹窗start -->
          <div id="copyDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" >复制布控</h4>
                  </div>

                  <div class="modal-body">
                    <div style="padding: 5px 20px;">
                      <form class="form-horizontal calender" role="form">

                       <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">摄像头 <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="copySelectStreams" style="height: 200px;"  class="select2_multiple form-control" required="required"  multiple="multiple" >
                                <option value="0">---请选择摄像头(可多选)---</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-sm-3 control-label">备注</label>
                          <div class="col-sm-9">
                            <textarea class="form-control" style="height:40px;" id="copyRemark"></textarea>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="f_postCopy()" class="btn btn-primary">提交</button>
                  </div>
                </div>
              </div>
           </div>
          <!--复制弹窗end -->

      </div>
    </div>

      </div>
      <div class="row" id="pageData"></div>

    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>

    let eleData = $("#data");
    let elePageData = $("#pageData");
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let ele_top_info= $("#top_info");

    let ele_div_control_log_dialog = $("#controlLogDialog");
    let ele_div_control_data = $("#controlLogData");

    let ele_div_copy_dialog = $("#copyDialog");
    let ele_copy_select_streams= $("#copySelectStreams");
    let ele_copy_textarea_remark= $("#copyRemark");
    let temp_cur_control_code = null;
    let temp_cur_page = 1;//当前页面
    let temp_cur_page_size = 10;
    
    function f_edit(controlCode) {
        let url = "/control/edit?code="+controlCode;
        window.location.href = url;
    }
    function f_del(controlCode) {
        let ret = confirm("确认删除吗？");
        if (ret){
            ele_top_loading.show();
            $.ajax({
                   url: '/control/postDel',
                   type: "post",
                   async: true,
                   data: {"code":controlCode},
                   dataType: "json",
                   timeout: 0,
                   error: function () {
                       ele_top_loading.hide();
                       myAlert("网络异常，请确定网络正常！","error");
                   },
                   success: function (res) {
                          ele_top_loading.hide();
                       if(1000 === res.code){
                           f_getIndex(temp_cur_page,temp_cur_page_size);
                       }else{
                            myAlert(res.msg,"error");
                       }
                   }
                });
        }
    }

    function f_postCopy() {
        let temp1 = ele_copy_select_streams.val();//typeof object, array
        if(temp1===null){
            myAlert("请至少选择1个摄像头","error");
            return false;
        }else{
            let temp2 = [];
            for (let i = 0; i < temp1.length; i++) {
                if("0"!==temp1[i]){
                    temp2.push(temp1[i]);
                }
            }
            if(temp2.length > 0){
                ele_div_copy_dialog.modal("toggle");
                let stream_codes = temp2.join(",");
                let remark = ele_copy_textarea_remark.val();
                ele_top_loading.show();
                $.ajax({
                       url: '/control/postCopy',
                       type: "post",
                       async: true,
                       data: {"controlCode":temp_cur_control_code,"streamCodes":stream_codes,"remark":remark},
                       dataType: "json",
                       timeout: 0,
                       error: function () {
                           ele_top_loading.hide();
                           myAlert("网络异常，请确定网络正常！","error");
                       },
                       success: function (res) {
                           ele_top_loading.hide();
                           if(1000 === res.code){
                               f_getIndex(temp_cur_page,temp_cur_page_size);
                           }else{
                                myAlert(res.msg,"error");
                           }
                       }
                    });
            }else{
                myAlert("请至少选择1个摄像头","error");
                return false;
            }
        }
    }

    function f_copy(controlCode) {
        temp_cur_control_code = controlCode;
        ele_copy_textarea_remark.val("copy from "+controlCode)
        ele_div_copy_dialog.modal("toggle");
        ele_top_loading.show();
        $.ajax({
               url: '/open/getAllStreamData',
               type: "get",
               async: true,
               data: {},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();
                   if(1000 === res.code){
                       let data = res.data;
                       let html = "<option value=\"0\">---请选择摄像头(可多选)---</option>";
                       for (let i = 0; i < data.length; i++) {
                           let d = data[i];
                           let d_code = d["code"];
                           let d_nickname = d["nickname"];
                           html += "<option value=\""+d_code+"\">"+d_nickname+"</option>";
                       }
                       ele_copy_select_streams.html(html);
                   }else{
                       myAlert(res.msg,"error");
                   }
                }
            });

    }

    function f_log(controlCode) {
        // BootStrap弹窗说明：https://www.genban.org/teach/teach-28585.html
        ele_div_control_log_dialog.modal("toggle");
        //ele_div_control_log_dialog.modal("show");
        //ele_div_control_log_dialog.modal("hide");

        ele_top_loading.show();
        $.ajax({
               url: '/control/getLog',
               type: "get",
               async: true,
               data: {"controlCode":controlCode},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();

                   let item_html;
                    ele_div_control_data.html("");

                   if(1000 === res.code){

                       let data = res.data;
                       let data_length = data.length;

                       if(0===data_length){
                           item_html = "";
                          item_html += "<tr>";
                          item_html += "<td colspan='3'>暂无日志</td>";
                          item_html += "</tr>";
                          ele_div_control_data.append(item_html);
                       }else{
                           for (let i = 0; i < data_length; i++) {
                               let d = data[i];
                               item_html = "";
                               item_html+="<tr>";
                                item_html+="<th scope=\"row\">"+d["id"]+"</th>";
                                item_html+="<td style='max-width: 200px;'>"+d["content"]+"</td>";
                                item_html+="<td>"+d["create_time_str"]+"</td>";
                                item_html+="</tr>";
                                ele_div_control_data.append(item_html);
                           }
                       }
                   }else{
                        myAlert(res.msg,"error");
                   }

                }
            });

    }

    function f_open_player(stream_app,stream_name){
        window.open("/stream/player?app="+stream_app+"&name="+stream_name);
    }
    function f_open_flow(code) {
        let url = "/algorithmFlow/edit?code="+code;
        window.open(url);
    }
    function f_show_pageData(pageData) {
        let page_size = pageData["page_size"];
        let html = "";
        html+="<div class=\"col-md-12 col-sm-12 col-xs-12\"><ul class=\"pagination\">";
                html+="<li><span style=\"margin-right:10px;color:#000;\">共<span>"+pageData["page_num"]+"</span>页 / <span>"+pageData["count"]+"</span >条</span></li>";
            let pageLabels = pageData["pageLabels"];

            for (let i = 0; i < pageLabels.length; i++) {
                let cur = pageLabels[i]["cur"];
                console.log(typeof cur,cur)
                if(cur === 1){
                    html+="<li class=\"paginate_button active\"><a href=\"#\"  >"+pageLabels[i]["name"]+"</a></li>";
                }else{
                    html+="<li class=\"paginate_button \"><a href=\"javascript:f_getIndex("+pageLabels[i]["page"]+","+page_size+")\" >"+pageLabels[i]["name"]+"</a></li>";
                }
            }
        html+="</ul></div>";

        elePageData.html(html);
    }
    function f_getIndex(page,page_size) {
        temp_cur_page = page;
        temp_cur_page_size = page_size;
        ele_top_loading.show();
        $.ajax({
               url: '/control/getIndex',
               type: "get",
               async: true,
               data: {"p":page,"ps":page_size},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();

                   let info = res.info;
                   //ele_top_info.html("在线视频流:"+info["online_stream_len"].toString()+" 实时布控中:"+info["online_control_len"].toString());
                   ele_top_info.html("实时布控:"+info["online_control_len"].toString());

                   eleData.html("");
                   let item_html;
                   if(1000 === res.code){
                       let data = res.data;
                       let data_length = data.length;
                       if(0===data_length){
                            item_html = "";
                            item_html += "<tr class=\"even pointer\">";
                            item_html += "<td colspan='8'>暂无数据</td>";
                            item_html += "</tr>";
                            eleData.append(item_html);
                       }else{
                            for (let i = 0; i < data_length; i++) {
                               let d = data[i];
                               item_html = "";
                               item_html += "<tr class=\"even pointer\">";
                               item_html += "<td>"+d["id"]+"</td>";
                               //item_html += "<td>"+d["code"]+"</td>";

                               if(d["stream_active"]){
                                  item_html += "<td><span class='sun-state-success'><i class=\"fa fa-bar-chart\"></i> 在线</span> <a class='sun-a-label' href=\"javascript:f_open_player('"+d["stream_app"]+"','"+d["stream_name"]+"')\" ><i class=\"fa fa-play\"></i> "+
                                                d["stream_nickname"]+"</a></td>";
                               }else{
                                  item_html += "<td><span class='sun-state-error'>离线</span> "+d["stream_nickname"]+"</td>";
                                }

                                item_html += "<td><a class='sun-a-label' style='font-size: 12px;' href=\"javascript:f_open_player('"+d["push_stream_app"]+"','"+d["push_stream_name"]+"')\" ><i class=\"fa fa-play\"></i>算法流</a></td>";

                                if(0===d["flow_nickname"]){//算法已被删除
                                    item_html += "<td><span class='sun-state-error'>已删除</span></td>";
                                }else{
                                    item_html += "<td><a class='sun-a-label' href=\"javascript:f_open_flow('"+d["flow_code"]+"')\" > "+d["flow_nickname"]+"</a>";
                                }


                               item_html += "<td>"+d["checkFps"]+"</td>";

                                item_html += "<td class='cur_state_" + d["code"] + "'>";
                               if(0===d["cur_state"]){
                                   item_html += "<span class='sun-state-error'>未布控</span>";
                               }else if(1===d["cur_state"]){
                                    item_html += "<span class='sun-state-success'>布控中</span>";
                               }else if(5===d["cur_state"]){
                                    item_html += "<span class='sun-state-error'>布控中断</span>";
                               }else{
                                    item_html += "<span class='sun-state-error'>未知状态</span>";
                               }
                                item_html += "</td>";


                               item_html += "<td>"+d["last_update_time"]+"</td>";
                               item_html += "<td>";

                                    item_html += "<div class=\"btn-group\">";
                                        if(1===d["cur_state"]) {//布控中
                                            item_html += "<button data-code='" + d["code"] + "'  data-handle='cancel' onclick=\"f_postHandleControl(this)\" class=\"btn btn-dark btn-sm\">取消布控</button>";
                                        }else{
                                            item_html += "<button data-code='" + d["code"] + "'  data-handle='add'onclick=\"f_postHandleControl(this)\"class=\"btn btn-primary btn-sm\">执行布控</button>";
                                        }
                                      item_html += "<button onclick=\"f_edit('"+d["code"]+"')\" class=\"btn btn-sm btn-default\" type=\"button\" title=\"编辑\"><i class=\"fa fa-edit\"></i></button>";
                                      item_html += "<button onclick=\"f_del('"+d["code"]+"')\" class=\"btn btn-sm btn-default\" type=\"button\" title=\"删除\"><i class=\"fa fa-remove\"></i></button>";
                                      item_html += "<button onclick=\"f_copy('"+d["code"]+"')\" class=\"btn btn-sm btn-default\" type=\"button\" title=\"复制\"><i class=\"fa fa-copy\"></i></button>";
                                      item_html += "<button onclick=\"f_log('"+d["code"]+"')\" class=\"btn btn-sm btn-default\" type=\"button\" title=\"日志\"><i class=\"fa fa-chain\"></i></button>";
                                    item_html += "</div>";

                               item_html += "</td></tr>";

                               eleData.append(item_html);
                           }
                            f_show_pageData(res.pageData)
                       }
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_postHandleControls(handle) {
        //执行全部布控 或 取消全部布控
        ele_top_loading.show();
        $.ajax({
               url: '/control/postHandleControls',
               type: "post",
               async: true,
               data: {"handle":handle, "state":10},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                      ele_top_loading.hide();
                    if(1000 === res.code){
                        myAlert(res.msg,"success",1000);
                        setTimeout(function () {
                            f_getIndex(temp_cur_page,temp_cur_page_size);
                        }, 1000);
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });
    }
    function f_postHandleControl(obj) {
        //obj.getAttribute("data-handle"); // js 获取 data-handle属性
        //obj.setAttribute("data-handle","123") // js 修改 data-handle属性
        let jqueryObj = $(obj);
        let handle = jqueryObj.data("handle");
        //jqueryObj.data("handle","123");
        let code = jqueryObj.data("code");

        let handleUrl;
        if ('add'===handle){
            handleUrl = '/control/postAddControl';
        }else if('cancel'===handle){
            handleUrl = '/control/postCancelControl';
        }else{
            return;
        }
        ele_top_loading.show();
        $.ajax({
           url: handleUrl,
           type: "post",
           async: true,
           data: {"controlCode":code},
           dataType: "json",
           timeout: 0,
           error: function () {
                ele_top_loading.hide();
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);

                   if(handle === "add"){
                       jqueryObj.removeClass("btn-primary")
                       jqueryObj.addClass("btn-dark")
                       jqueryObj.data("handle","cancel");
                       jqueryObj.html("取消布控");

                        //布控成功
                       $(".cur_state_"+code).html("<span class='sun-state-success'>布控中</span>");
                       //$(".menu_"+code).hide();

                   }else if(handle === 'cancel'){
                       jqueryObj.removeClass("btn-dark")
                       jqueryObj.addClass("btn-primary")
                       jqueryObj.data("handle","add");
                       jqueryObj.html("执行布控")
                       //取消布控成功
                       $(".cur_state_"+code).html("<span class='sun-state-error'>未布控</span>")
                       //$(".menu_"+code).show();
                   }
               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }
    function f_reload() {
        f_getIndex(temp_cur_page,temp_cur_page_size);
    }
    function f_docs() {
        let url= "{{ settings.docs.controlAdd }}";
        window.open(url);
    }
    window.onload = function (){
        f_getIndex(temp_cur_page,temp_cur_page_size);
    };


</script>
{% endblock javascripts %}

