<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"> <span><i class="fa fa-laptop"></i>{{ settings.name }}</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{{ settings.logo_url }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>{{ settings.welcome }},</span>
      <h2>{{request.session.user.username }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>菜单</h3>
      <ul class="nav side-menu">

          <li ><a><i class="fa fa-home"></i> 主页 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/">控制面板</a></li>
              </ul>
          </li>

           <li><a><i class="fa fa-video-camera"></i> 视频管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/stream/online">在线预览</a></li>

                  <li><a href="/stream/index">摄像头管理</a></li>
                 <li><a href="/stream/add">添加摄像头</a></li>
                 <li><a href="/stream/edit">编辑摄像头</a></li>
                 <li><a href="/stream/multiplayer">分屏播放器</a></li>
                 <li><a href="/stream/player">单屏播放器</a></li>

                  <li><a href="/streamRecord/index">录像管理</a></li>
                 <li><a href="/streamRecord/add">添加录像</a></li>
                 <li><a href="/streamRecord/edit">编辑录像</a></li>
                 <li><a href="/streamRecord/timeplayer">录像播放器</a></li>

              </ul>
           </li>

          <li><a><i class="fa fa-bullhorn"></i> 报警管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/alarm/index">报警视频管理</a></li>
                  <li><a href="/alarm/show">查看报警视频</a></li>
                  <li><a href="/alarmInterface/index">报警接口管理</a></li>
                  <li><a href="/alarmInterface/add">添加报警接口</a></li>
                  <li><a href="/alarmInterface/edit">编辑报警接口</a></li>

                  <li><a href="/alarmFilter/index">过滤器管理</a></li>
                  <li><a href="/alarmFilter/add">添加过滤器</a></li>
                  <li><a href="/alarmFilter/edit">编辑过滤器</a></li>

              </ul>
           </li>
           <li><a><i class="fa fa-eye"></i> 算法管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                 <li><a href="/algorithmFlow/index">算法管理</a></li>
                 <li><a href="/algorithmFlow/add">添加算法</a></li>
                 <li><a href="/algorithmFlow/edit">编辑算法</a></li>

                 <li><a href="/algorithm/index">基础算法管理</a></li>
                 <li><a href="/algorithm/add">添加基础算法</a></li>
                 <li><a href="/algorithm/edit">编辑基础算法</a></li>

                 <li><a href="/behaviour/index">行为算法管理</a></li>
                 <li><a href="/behaviour/add">添加行为算法</a></li>
                 <li><a href="/behaviour/edit">编辑行为算法</a></li>

              </ul>
           </li>

            <li><a><i class="fa fa-cube"></i> 布控管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/control/index">布控管理</a></li>
                <li><a href="/control/add">添加布控</a></li>
                <li><a href="/control/edit">编辑布控</a></li>
                <li><a href="/controlPatrol/index">轮巡管理</a></li>
                <li><a href="/controlPatrol/add">添加轮巡</a></li>
                <li><a href="/controlPatrol/edit">编辑轮巡</a></li>
                <li><a href="/controlPatrol/view">预览轮巡</a></li>
              </ul>
           </li>

                    <li><a><i class="fa fa-music"></i> 音频管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/audio/index">音频管理</a></li>
                  <li><a href="/audio/add">添加音频</a></li>
                  <li><a href="/audio/edit">编辑音频</a></li>
              </ul>
           </li>

          <li><a><i class="fa fa-user"></i> 用户管理 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/user/index">用户管理</a></li>
                  <li><a href="/user/add">添加用户</a></li>
                  <li><a href="/user/edit">编辑用户</a></li>
              </ul>
           </li>

          <li><a><i class="fa fa-folder-open"></i> 计划任务 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/plan/index">计划任务</a></li>
                  <li><a href="/plan/add">添加计划</a></li>
                  <li><a href="/plan/edit">编辑计划</a></li>
              </ul>
           </li>

           <li><a><i class="fa fa-gear"></i> 系统功能 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="/system/config">启动配置</a></li>
                  <li><a href="/system/settings">系统设置</a></li>
                  <li><a href="/system/index">系统维护</a></li>
                  <li><a href="/auth/index">系统授权</a></li>
                  <li><a href="/version/index">关于系统</a></li>
              </ul>
           </li>

      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small" style="height: 40px;">

  </div>
  <!-- /menu footer buttons -->
</div>