{% extends "app/base_site.html" %}

{% block title %} 录像播放器 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <link rel="stylesheet" href="/static/lib/jquery/daterangepicker/daterangepicker.min.css"/>
      <!-- Ion.RangeSlider -->
  <link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
  <link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css?0908" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}
<style>
    video{
        width: 100%;
        height: 100%;
        max-height: 400px;
        background-color: rgba(0,0,00,1.0);
        /*object-fit: fill;*/ /*伸缩*/
        border-radius: 5px;
        /*border: 1px solid #f0f0f0;*/
    }

    video:focus {
        outline: -webkit-focus-ring-color auto 0;
    }


</style>


  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                 <h2>录像播放器
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <span id="top_msg">{{top_msg}}</span>
                 </h2>

                    <div style="float: right; margin-top: 6px; margin-right: 50px;">
                         <input type="text" style="width: 120px;height: 30px;"  id="record_date" class="form-control" value="{{ filter_date.now_ymd }}">
                    </div>

                  <div class="clearfix"></div>
            </div>

            <div class="x_content">

            <div class="col-md-12 col-sm-12 col-xs-12">
                   <video id="video_player" poster="/static/images/player_poster.jpg" muted controls>
                       <!--<source src="#" type="video/mp4">-->
                       Your browser is too old which doesn't support HTML5 video.
                    </video>
              </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">
                        <input id="demo_0" type="text" name="" value="" />
                   </div>


              <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">

                <div style="float: left; ">
                    <input type="text" style="width: 200px;height: 30px;" id="record_dateRange" class="form-control" value="{{ startDate }} to {{ endDate }}">
                  </div>

                  <button type="button" id="download_record" style="margin-left: 20px;" class="btn btn-primary btn-sm">下载录像</button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
   <!-- daterangepicker -->
<script src="/static/vendors/moment/min/moment.min.js"></script>
<script src="/static/lib/jquery/daterangepicker/jquery.daterangepicker.js"></script>
  <!-- Ion.RangeSlider -->
  <script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js?0908"></script>
<script>
    let lang = "zh-CN"; //en-US,zh-CN
    let record_code = '{{ code }}';
    let now_year = parseInt('{{ filter_date.now_year }}');
    let now_month = parseInt('{{ filter_date.now_month }}');
    let now_day = parseInt('{{ filter_date.now_day }}');
    let nearby_hour = parseInt('{{ filter_date.nearby_hour }}');
    let nearby_minute = parseInt('{{ filter_date.nearby_minute }}');

    let eleInputRecordDate = $('#record_date');//选择录像日期
    let eleInputRecordDateRange = $('#record_dateRange');//下载录像日期范围
    let eleVideoPlayerJsObj = document.getElementById("video_player")
    let eleVideoPlayerJqueryObj = $("#video_player");


    eleInputRecordDate.dateRangePicker({
        autoClose: true,
        singleDate : true,
        showShortcuts: false,
        singleMonth: true
    });

    eleInputRecordDateRange.dateRangePicker({
            language:'cn',//cn,en
            //minDays: 3,
		    //maxDays: 7,
            //format: 'YYYY-MM-DD',
            //startDate: '2024-07-01',
		    //endDate: '2024-08-31'
            //yearSelect: true,
            //startDate: moment().subtract(3, 'months').format('YYYY-MM-DD'),
            //endDate: moment().endOf('day').format('YYYY-MM-DD'),
        }
    ).bind('datepicker-apply',function(event,obj)
        {

        });

    function f_play(timestamp){
        $.ajax({
           url: "/streamRecord/getRecordFilename",
           type: "get",
           async: true,
           data: {
               "code":record_code,
               "timestamp": timestamp
           },
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   let info = res.info;
                   let filename = info.filename
                   let url = "/storage/access?filename="+filename;
                   eleVideoPlayerJsObj.src = url;
                   eleVideoPlayerJsObj.play();

               }else{
                   eleVideoPlayerJsObj.pause();
                   //eleVideoPlayerJsObj.currentTime = 0;
                    eleVideoPlayerJqueryObj.removeAttr("src");
                    eleVideoPlayerJqueryObj.load();
                    myAlert(res.msg,"error");
               }
           }
        });


    }
    function f_pause() {
        eleVideoPlayerJsObj.pause();
    }

    function f_stop() {
        eleVideoPlayerJsObj.pause();
        eleVideoPlayerJsObj.currentTime = 0; // 将播放位置重置到开始
    }
    function f_mute() {
        eleVideoPlayerJsObj.muted = !eleVideoPlayerJsObj.muted; // Toggle mute
    }


    function dateToTS (date) {
        return date.valueOf();
    }

    function tsToDate (ts) {
        let d = new Date(ts);
        //toLocaleDateString参考文档： https://www.cnblogs.com/bokemoqi/p/17656900.html

        return d.toLocaleDateString(lang, {
            //year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            //second: 'numeric',
        });
    }

    $("#demo_0").ionRangeSlider({
        skin: "round", //常用选项 flat,round,big
        //type: "double",
        min: dateToTS(new Date(now_year, now_month-1, now_day, 0, 0)),
        max: dateToTS(new Date(now_year, now_month-1, now_day, 23, 59)),
        from: dateToTS(new Date(now_year, now_month-1, now_day, nearby_hour,nearby_minute)),
         //to: dateToTS(new Date(year, 10, 23)),
        step: 1,            // default 1 (set step)
        grid: true,         // default false (enable grid)
        grid_num: 4,        // default 4 (set number of grid cells)
        prettify: tsToDate,
        onStart: function (data) {
            // fired then range slider is ready
            console.log("onStart:",typeof data,data)

        },
        onChange: function (data) {
            // fired on every range slider update
             //console.log("onChange:",typeof data,data)
        },
        onFinish: function (data) {
            // fired on pointer release
             console.log("onFinish:",typeof data,data)
             let timestamp = parseInt(data.from / 1000);//秒级时间戳
             f_play(timestamp);
        },
        onUpdate: function (data) {
            // fired on changing slider with Update method
             console.log("onUpdate:",typeof data,data)
        }
    });




</script>

{% endblock javascripts %}
