{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}音频 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
    <style>
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #2a80eb;
      padding: 2px 4px;
      background-color: #2a80eb;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}音频 <span id="top_msg">{{top_msg}}</span></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" data-parsley-validate  >

                     <input type="hidden" name="handle"  value="{{ handle }}">
                     <input type="hidden" name="code"  value="{{ audio.code }}">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">音频编号 </label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <input type="text"  value="{{ audio.code }}" class="form-control" disabled="disabled">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">音频名称 <span class="required">*</span></label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="name" value="{{ audio.name }}" required="required"  class="form-control">
                  </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">音频文件 <span class="required">*</span></label>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <input type="file" name="file" accept="audio/wav,audio/mpeg" {% if "edit" == handle %}disabled="disabled"{% endif %}  class="form-control" placeholder="音频文件" >
                    </div>

                </div>

{% if "edit" == handle %}

                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">音频文件路径</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                     <input type="text" value="{{ absolute_audio_path }}" readonly  class="form-control">
                  </div>
                </div>

{% endif %}

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">扩展参数
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="extend_params" class="form-control" rows="2" placeholder="">{{ audio.extend_params }}</textarea>
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">备注 <span class="required">*</span>
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="remark" class="form-control" rows="3" placeholder="">{{ audio.remark }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">取消</button>
                    <button type="submit" class="btn btn-success">提交</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

let handle = "{{ handle }}";
let audio_code = "{{ audio.code }}";
let ele_input_name= $("input[name='name']");
let ele_input_file= $("input[name='file']");
let ele_textarea_remark= $("textarea[name='remark']");

$(document).ready(function () {
   $("form").submit(function () {

        if(ele_input_name.val().trim() === ""){
            myAlert("请输入音频名称","error");
            return false;
        }

       if("add" === handle){
            //添加
           if(ele_input_file[0].files.length > 0){
                let file = ele_input_file[0].files[0];
                let fs_name = file.name;
                let fs_size = parseInt(file.size);//文件字节大小
                let fs_size_m = parseInt(fs_size / 1024 / 1024); //换算成M单位

                if(fs_size_m > 20){
                    myAlert("音频文件不能超过20M:"+String(fs_size_m),"error");
                    return false;
                }
           }else{
               myAlert("请上传音频文件","error");
               return false;
           }

       }else {
            //更新

       }

   });
});

</script>

{% endblock javascripts %}
