{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}人脸 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
        <link rel="stylesheet" href="/static/lib/jquery/fancybox/3.5.7/jquery.fancybox.min.css" />
    <style>
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #2a80eb;
      padding: 2px 4px;
      background-color: #2a80eb;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}人脸 <span id="top_msg">{{top_msg}}</span></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
     <div class="form-horizontal form-label-left">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">编号 </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text"  value="{{ face.code }}" class="form-control" disabled="disabled">
                  </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">分组名称 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="group_name" value="{{ face.group_name }}" required="required"  {% if "edit" == handle %} disabled {% endif %} class="form-control">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">名称 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" value="{{ face.name }}" required="required"  class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">自定义编号 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="custom_code" value="{{ face.custom_code }}" required="required"  class="form-control">
                  </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">选择人员照片 <span class="required" style="color: red;">*</span></label>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" name="file" accept="image/png,image/jpeg,image/jpg" class="form-control" placeholder="人员照片" >
                    </div>

                </div>

{% if "edit" == handle %}
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">人员照片</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <img style="width: 100px;height:100%;" src="{{ storageDir_www }}{{ face.image_dir }}/{{ face.image_name }}" title="人员照片">
                  </div>
                </div>
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">人脸特征图</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <img style="width: 100px;height:100%;" src="{{ storageDir_www }}{{ face.image_dir }}/{{ face.face_image_name }}" title="人脸特征图">
                  </div>
                </div>
{% endif %}

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea name="remark" class="form-control" rows="3" placeholder="">{{ face.remark }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">取消</button>
                    <button type="button" onclick="f_submit()" class="btn btn-success">提交</button>

                      <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">提交中</span>

                  </div>
                </div>

     </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
    <script src="/static/lib/jquery/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
let ele_top_loading = $("#top_loading");
let handle = "{{ handle }}";
let face_code = "{{ face.code }}";
let curIsPost = false; //当前是否在提交中，已经提交后该变量会设为true，避免重复操作

let ele_input_name= $("input[name='name']");
let ele_input_group_name= $("input[name='group_name']");
let ele_input_custom_code= $("input[name='custom_code']");
let ele_input_file= $("input[name='file']");
let ele_textarea_remark= $("textarea[name='remark']");

function f_submit() {
    let group_name = ele_input_group_name.val().trim();
    let name = ele_input_name.val().trim();
    let custom_code = ele_input_custom_code.val().trim();
    let remark = ele_textarea_remark.val().trim();

    if(name === ""){
        myAlert("请输入名称","error");
        return false;
    }
    if(custom_code === ""){
        myAlert("请输入自定义编号","error");
        return false;
    }

    let handleUrl;
    let formData = new FormData();
    formData.append('handle',handle);
    formData.append('code',face_code);
    formData.append('group_name',group_name);
    formData.append('name',name);
    formData.append('custom_code',custom_code);
    formData.append('remark',remark);

    if(handle === "add"){
        //添加
        handleUrl = "/face/openAdd";
    }
    else {
        //更新
        handleUrl = "/face/openEdit";
    }

    if(ele_input_file[0].files.length > 0){
        let file = ele_input_file[0].files[0];
        let fs_name = file.name;
        let fs_size = parseInt(file.size);//文件字节大小
        let fs_size_m = parseInt(fs_size / 1024 / 1024); //换算成M单位

        if(fs_size_m > 10){
            myAlert("文件不能超过10M:"+String(fs_size_m),"error");
            return false;
        }
        formData.append("file",file);
    }else{
        if(handle === "add") {
            myAlert("请选择人员照片", "error");
            return false;
        }
    }


    if(curIsPost){
        myAlert("正在提交中，请勿重复提交！","error",500);
        return false;
    }
    curIsPost = true;

    ele_top_loading.show();
    $.ajax({
       url: handleUrl,
       type: "post",
       async: true,
       contentType:false,
       processData:false,
       data: formData,
       dataType: "json",
       timeout: 0,
       error: function () {
            curIsPost = false;
           ele_top_loading.hide();
           myAlert("网络异常，请确定网络正常！","error");
       },
       success: function (res) {
            curIsPost = false;
           ele_top_loading.hide();

           if(1000 === res.code){
               myAlert(res.msg,"success",1000);
               setTimeout(function () {
                    window.location.href = "/face/index";
               }, 1000);
           }else{
                myAlert(res.msg,"error");
           }
       }
});
}
$(document).ready(function () {
   $('img').click(function() {
        $.fancybox.open({
            src  : $(this).attr('src'),
            type : 'image'
        });
    });
});

</script>

{% endblock javascripts %}
