{% extends "app/base_site.html" %}

{% block title %} 人脸管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <link rel="stylesheet" href="/static/lib/jquery/fancybox/3.5.7/jquery.fancybox.min.css" />
    <style>

.image_container{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}
.image_container img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.face_container{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #6d8494;
    position: relative;
    border-radius: 6px;
}
.face_container img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    </style>
{% endblock stylesheets %}

{% block content %}
<script>
    let g_flowArray = [];//业务算法
</script>

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
               <h2>人脸管理
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <span id="top_msg">{{top_msg}}</span>
               </h2>

               <div style="margin-left:5px;"  class="btn-group">
                  <button onclick="f_docs()" class="btn btn-primary btn-sm" type="button">文档</button>
                  <button onclick="f_reload()"  class="btn btn-default btn-sm" type="button">刷新</button>
                </div>
      <div style="margin-left:5px;"  class="btn-group">
                  <button id="btn_sync"  class="btn btn-default btn-sm" type="button">全量更新人脸库</button>
      </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                     <div class="col-sm-12">


                         <div style="float: left;">
                                  <select id="select_flow_code" class="input-sm">
                                    <option value="0">请选择算法</option>
                                    {% for flow in flows %}
                                        <script>
                                        g_flowArray.push({
                                            "code":'{{ flow.code }}',
                                            "name":'{{ flow.name }}',
                                            "mode":parseInt('{{ flow.mode }}')
                                        })
                                        </script>
                                        <option value="{{ flow.code }}">{{ flow.name }}</option>
                                    {% endfor %}
                                   </select>
                         </div>
                         <div style="float: left;margin-left: 10px;">
                             <button onclick="f_openAlgorithmInit()" class="btn btn-sm btn-default">开启</button>
                             <button onclick="f_openAlgorithmRelease()" class="btn btn-sm btn-default">关闭</button>

                         </div>
                         <div style="float: left;margin-left: 5px;">
                            <span id="algorithm_state" class="sun-state-error">未开启</span>
                         </div>


                     </div>
                </div>


              <div class="x_content">

                <!--<p><code>说明</code> xxx </p>-->

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">名称</th>
                        <th class="column-title">自定义编号</th>
                        <th class="column-title">人员照片</th>
                        <th class="column-title">人脸照片</th>
                        <th class="column-title">更新时间</th>
                          <th class="column-title no-link last"><span class="nobr">操作</span></th>
                      </tr>
                    </thead>

                    <tbody>
                    {%  for d  in data %}
                      <tr class="even pointer">
                        <td>{{ d.id }}<!--{{forloop.counter}}--></td>
                        <td>{{ d.custom_code }}</td>
                        <td>{{ d.name }}</td>
                        <td>
                            <div class="image_container">
                                <img src="{{ storageDir_www }}{{ d.image_dir }}/{{ d.image_name }}" title="照片">
                            </div>

                        </td>
                        <td>
                            <div class="face_container">
                                <img src="{{ storageDir_www }}{{ d.image_dir }}/{{ d.face_image_name }}" title="人脸">
                            </div>
                        </td>
                          <td>{{ d.last_update_time }}</td>
                          <td>
                              <div class="btn-group">
                              <button onclick="f_edit('{{ d.code }}')" class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> 编辑</button>
                              <button onclick="f_openSyncDatabase('{{ d.group_name }}','{{ d.code }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="更新人脸库"><i class="fa fa-adjust"></i></button>
                              <button onclick="f_del('{{ d.code }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                <li>
                    <span style="margin-right:10px;color:#000;">共<span>{{ pageData.page_num}}</span>页 / <span>{{pageData.count}}</span >条</span>
                </li>

                {%  for d  in pageData.pageLabels%}
                  {% if d.cur == 1 %}
                    <li class="paginate_button active"><a href="#"  >{{ d.name }}</a></li>
                  {% else %}
                    <li class="paginate_button "><a href="/face/index?p={{d.page}}&ps={{pageData.page_size}}" >{{ d.name }}</a></li>
                  {% endif %}
                {% endfor %}

              <!--
              <li class="paginate_button previous" ><a href="#" data-dt-idx="0" >上一页</a></li>
              <li class="paginate_button active"><a href="#" data-dt-idx="1" >1</a></li>

              <li class="paginate_button "><a href="#" data-dt-idx="2">2</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="3">3</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="4">4</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="5" >5</a></li>
              <li class="paginate_button "><a href="#" data-dt-idx="6" >6</a></li>
              <li class="paginate_button next"><a href="#" data-dt-idx="7" >下一页</a></li>
              -->
            </ul>

          </div>
       </div>


    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/lib/jquery/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleSelectFlowCode= $("#select_flow_code");
    let eleBtnSync = $("#btn_sync");
    let eleAlgorithmState= $("#algorithm_state");

    eleSelectFlowCode.change(function () {
        let flow_code = $(this).val();
    });

    eleBtnSync.click(function () {
        f_openSyncDatabase('all','')
    })


    function f_reload() {
        window.location.reload();
    }
    function f_docs() {
        let url= "{{ settings.docs.faceAdd }}";
        window.open(url);
    }
    function f_edit(code) {
        let url = "/face/edit?code="+code;
        window.location.href = url;
    }
    function f_del(code){
        ele_top_loading.show();
        $.ajax({
               url: '/face/openDel',
               type: "post",
               async: true,
               data: {"code":code},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();
                   if(1000 === res.code){
                       window.location.reload();
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_showFlowCode(flow_code) {
        let html = "<option value=\"0\">请选择算法</option>";
        for (let i = 0; i < g_flowArray.length; i++) {
            let code = g_flowArray[i].code;
            let name = g_flowArray[i].name;
            if(code===flow_code){
                  html += "<option selected value=\""+code+"\">"+name+"</option>";
            }else{
                  html += "<option value=\""+code+"\">"+name+"</option>";
            }
       }
       eleSelectFlowCode.html(html);
    }
    function f_showAlgorithm(algorithmState,faceCount=0) {
            if(algorithmState){
            eleAlgorithmState.attr("class","sun-state-success")
            eleAlgorithmState.html("已开启");

            eleBtnSync.text("全量更新人脸库("+faceCount.toString()+")")
       }else{
            eleAlgorithmState.attr("class","sun-state-error")
            eleAlgorithmState.html("未开启");

             eleBtnSync.text("全量更新人脸库")
       }


    }
    function f_openAlgorithm(){
        $.ajax({
               url: '/face/openAlgorithm',
               type: "get",
               async: true,
               timeout: 0,
               error: function () {
                    f_showAlgorithm(false);
               },
               success: function (res) {
                   if(1000 === res.code){
                       let info = res.info;
                        let state = info["state"];
                       if(state){
                           let flowCode = info["flowCode"];
                           let faceCount = info["faceCount"];
                           //let startTimestamp = data[0]["startTimestamp"];

                            f_showFlowCode(flowCode);
                            f_showAlgorithm(true,faceCount);

                       }else{
                          f_showAlgorithm(false);
                       }
                   }else{
                         f_showAlgorithm(false);
                         console.log(res.msg)
                   }
               }
            });
    }
    function f_openAlgorithmInit(){
        let flow_code = eleSelectFlowCode.val().trim();

        if(flow_code === "0"){
            myAlert("请选择算法","error");
            return;
        }

        ele_top_loading.show();
        $.ajax({
               url: '/face/openAlgorithmInit',
               type: "post",
               async: true,
               data: {"flow_code":flow_code},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                    f_showAlgorithm(false);
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();
                   if(1000 === res.code){
                        f_showAlgorithm(true);
                   }else{
                         f_showAlgorithm(false);
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_openAlgorithmRelease(){
        ele_top_loading.show();
        $.ajax({
               url: '/face/openAlgorithmRelease',
               type: "post",
               async: true,
               data: {},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                    f_showAlgorithm(false);
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   ele_top_loading.hide();
                     f_showAlgorithm(false);
                   if(1000 === res.code){

                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });
    }
    function f_openSyncDatabase(group_name,code) {

        ele_top_loading.show();
        $.ajax({
           url: '/face/openSyncDatabase',
           type: "post",
           async: true,
           data: {"group_name":group_name,"code":code},
           dataType: "json",
           timeout: 0,
           error: function () {
                ele_top_loading.hide();
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                   let faceCount = res.info["faceCount"];
                   f_showAlgorithm(true,faceCount);
                   myAlert(res.msg,"success",1000);
               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }

    $(document).ready(function () {
        $('img').click(function () {
            $.fancybox.open({
                src: $(this).attr('src'),
                type: 'image'
            });
        });

        f_openAlgorithm();
    });
</script>

{% endblock javascripts %}

