<html lang="en">
<head>
<title>提示中</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/lib/message/message.css">
</head>

<body>
    <div class="sweetalert_content">
        <img src="/static/lib/message/{% if is_success %}message-success{% else %}message-error{% endif %}.png"  alt="提示图片"/>
        <h3>{{msg}}</h3>
        <button class="confirm" onclick="redirect()" >返回上一页</button>
    </div>
</body>
<script>
    function redirect(){
        let redirect_url="{{redirect_url}}"
        if(redirect_url){
            window.location.href=redirect_url;
        }else{
            history.back();
        }
    }
    window.onload=function(){
       setTimeout(function(){
          redirect();
       },1500);
    }
</script>
</html>

