{% extends "app/base_site.html" %}
{% block title %} 主机配置 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <style>
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #2a80eb;
      padding: 2px 4px;
      background-color: #2a80eb;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>系统设置
                  <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                  <span id="top_msg">{{top_msg}}</span>
              </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <form class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" data-parsley-validate  >
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">系统名称 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" required="required" value="{{obj.name}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="welcome">欢迎语 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="welcome" required="required" value="{{obj.welcome}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

               <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">系统头像</label>

                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <input type="file" name="file" accept="image/png,image/jpeg,image/jpg" {% if "edit" == handle %}disabled="disabled"{% endif %}  class="form-control" placeholder="系统头像文件" >
                    </div>
               {% if  "" != logo_url %}
                          <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="{{ logo_url }}" alt="..." style="width: 35px;height: 35px;" class="img-circle">
                          </div>
               {% endif %}
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bottom_name">系统底部名称 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="bottom_name" required="required" value="{{obj.bottom_name}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="form-group">
                   <label class="control-label col-md-3 col-sm-3 col-xs-12">是否显示作者 <span class="required">*</span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="radio">
                      <label>
                        <input type="radio" {% if obj.is_show_author == 1 %} checked="checked" {% endif %} value="1" name="is_show_author"> 显示
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" {% if obj.is_show_author == 0 %} checked="checked" {% endif %} value="0" name="is_show_author"> 不显示
                      </label>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author">作者名称 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="author" required="required" value="{{obj.author}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="author_link">作者链接 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="author_link" required="required" value="{{obj.author_link}}" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>



                <div class="ln_solid"></div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" onclick="window.history.back()">返回</button>
                    <button type="submit" class="btn btn-success">保存</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
