{% extends "app/base_site.html" %}

{% block title %} 用户管理 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
               <h2>用户管理
                    <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                    <span id="top_msg">{{top_msg}}</span>
               </h2>
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">

                <!--<p><code>说明</code> 系统支持的行为算法</p>-->

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">ID</th>
                        <th class="column-title">用户名</th>
                        <th class="column-title">邮箱</th>
                        <th class="column-title">超级管理员</th>
                        <th class="column-title">状态</th>
                        <th class="column-title">加入时间</th>
                        <th class="column-title">上次登录时间</th>
                          <th class="column-title no-link last"><span class="nobr">操作</span></th>
                      </tr>
                    </thead>

                    <tbody>
                    {%  for d  in data %}
                      <tr class="even pointer">
                        <td>{{ d.id }}</td>
                        <td>{{ d.username }}</td>
                        <td>{{ d.email }}</td>
                       <td>
                           {% if d.is_superuser == 1 %}
                             是
                            {% else %}
                            否
                            {% endif %}
                       </td>
                       <td>
                            {% if d.is_active == 1 %}
                            <span style="color: green">正常</span>
                            {% else %}
                            <span style="color: red">禁用</span>
                            {% endif %}
                       </td>
                          <td>{{ d.date_joined }}</td>
                          <td>{{ d.last_login }}</td>
                        <td>
                              <div class="btn-group">
                              <button onclick="f_edit('{{ d.id }}')" class="btn btn-sm btn-primary" type="button"><i class="fa fa-edit"></i> 编辑</button>
                              <button onclick="f_del('{{ d.id }}')" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="删除"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <ul class="pagination">
                <li>
                    <span style="margin-right:10px;color:#000;">共<span>{{ pageData.page_num}}</span>页 / <span>{{pageData.count}}</span >条</span>
                </li>

                {%  for d  in pageData.pageLabels%}
                  {% if d.cur == 1 %}
                    <li class="paginate_button active"><a href="#"  >{{ d.name }}</a></li>
                  {% else %}
                    <li class="paginate_button "><a href="/user/index?p={{d.page}}&ps={{pageData.page_size}}" >{{ d.name }}</a></li>
                  {% endif %}
                {% endfor %}

            </ul>

          </div>
       </div>


    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");

    function f_del(user_id){
        ele_top_loading.show();
        $.ajax({
               url: '/user/postDel',
               type: "post",
               async: true,
               data: {"id":user_id},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                      ele_top_loading.hide();
                   if(1000 === res.code){
                        window.location.reload();
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

    }
    function f_edit(user_id) {
        let url = "/user/edit?id="+user_id;
        window.location.href = url;
    }
</script>

{% endblock javascripts %}

