{% extends "app/base_site.html" %}
{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}报警接口 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
    <style>
    input[type="file"]{
      color: #8d2f2f;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #2a80eb;
      padding: 2px 4px;
      background-color: #2a80eb;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}
{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}报警接口 <span id="top_msg">{{top_msg}}</span></h2>


                   <button style="margin-left:10px;margin-top: 4px;" onclick="f_docs()" class="btn btn-primary btn-xs"><i class="fa fa-book"></i> 文档</button>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" data-parsley-validate  >

                     <input type="hidden" name="handle"  value="{{ handle }}">
                     <input type="hidden" name="code"  value="{{ obj.code }}">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">编号 </label>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <input type="text"  value="{{ obj.code }}" class="form-control" disabled="disabled">
                  </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">名称 <span class="required">*</span></label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="name" value="{{ obj.name }}" required="required"  class="form-control">
                  </div>
                </div>

             <div class="form-group">
               <label class="control-label col-md-3 col-sm-3 col-xs-12">是否保存本地 <span class="required">*</span></label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="radio">
                      <label>
                        <input type="radio" {% if obj.is_save_local == 0 %} checked="checked" {% endif %} value="0" name="is_save_local"> 不保存本地
                      </label>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" {% if obj.is_save_local == 1 %} checked="checked" {% endif %} value="1" name="is_save_local"> 保存本地
                      </label>
                    </div>

                    </div>
              </div>



             <div class="form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">上传服务器类型 <span class="required">*</span></label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="radio">
                              <label>
                                <input type="radio" {% if obj.request_server_type == 0 %} checked="checked" {% endif %} value="0" name="request_server_type"> 不上传
                              </label>
                            </div>

                            <div class="radio">
                              <label>
                                <input type="radio" {% if obj.request_server_type == 1 %} checked="checked" {% endif %} value="1" name="request_server_type"> 上传http
                              </label>
                            </div>

                            <div class="radio">
                              <label>
                                <input type="radio" {% if obj.request_server_type == 2 %} checked="checked" {% endif %} value="2" name="request_server_type"> 上传redis
                              </label>
                            </div>

                              <div class="radio">
                              <label>
                                <input type="radio" {% if obj.request_server_type == 3 %} checked="checked" {% endif %} value="3" name="request_server_type"> 上传kafka
                              </label>
                            </div>

                              <div class="radio">
                              <label>
                                <input type="radio" {% if obj.request_server_type == 4 %} checked="checked" {% endif %} value="4" name="request_server_type"> 上传mongodb
                              </label>
                            </div>
                          </div>
                        </div>


               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">上传服务器地址 </label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="request_address" value="{{ obj.request_address }}"  class="form-control">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">上传服务器参数 </label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                 <textarea name="request_params" class="form-control" rows="3" >{{ obj.request_params }}</textarea>
                  </div>
                </div>


            <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">上传服务器内容扩展参数</label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                    <textarea name="request_content_extend_params" class="form-control" rows="2" >{{ obj.request_content_extend_params }}</textarea>
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">报警延迟（秒） <span class="required">*</span></label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="number" name="alarm_delay" value="{{ obj.alarm_delay }}" required="required"  class="form-control">
                  </div>
                </div>



                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea name="remark" class="form-control" rows="3" placeholder="">{{ obj.remark }}</textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">取消</button>
                    <button type="submit" class="btn btn-success">提交</button>

                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

let handle = "{{ handle }}";
let ele_input_name= $("input[name='name']");
$(document).ready(function () {
   $("form").submit(function () {
        if(ele_input_name.val().trim() === ""){
            myAlert("请输入名称","error");
            return false;
        }

       if("add" === handle){
            //添加

       }else {
            //更新

       }

   });
});
function f_docs() {
    window.open("https://gitee.com/Vanishi/BXC_VideoAnalyzer_v4/wikis/二次开发报警接口");
}
</script>

{% endblock javascripts %}
