{% extends "app/base_site.html" %}

{% block title %} 系统授权 {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>系统授权
                  <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                  <span id="top_msg">{{top_msg}}</span>
              </h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <form class="form-horizontal form-label-left"  method="post"  data-parsley-validate >

                  <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-md-offset-3">
                      <h3>系统授权有两种方式</h3>
                    <p style="margin-top: 20px;">（1）第一种 {% if settings.auth_online_link != "" %} <button type="button" class="btn btn-primary btn-sm" onclick="f_link('{{ settings.auth_online_link }}')" style="margin-left: 5px; " >生成测试授权码</button>{% endif %}</p>
                    <p style="margin-top: 20px;">（2）第二种 {% if settings.auth_buy_link != "" %} <button type="button" class="btn btn-primary btn-sm"  onclick="f_link('{{ settings.auth_buy_link }}')" style="margin-left: 5px; ">购买授权加密锁</button>{% endif %}</p>
                  </div>
                </div>
               <div class="ln_solid"></div>


                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-md-offset-3">
                      <span>本机MAC：</span> <span id="machine_mac" style="color: #c9302c;font-size: 12px ;">获取中...</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-offset-3">
                      <span>软件标记：</span><span style="color: green;font-size: 15px ;">{{ project_flag }}</span>
                    </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">机器授权码 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <textarea id="active_code" name="active_code" class="form-control" rows="5" placeholder="请输入机器授权码"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-md-offset-3" style="border: 1px solid #169F85;border-radius: 3px;">

                      <h5>机器授权状态：<small id="machine_verify_msg">未授权</small></h5>
                    <div>
                        <div class="starrr stars"></div>
                        授权码生效时间： <span id="create_date">无</span>
                      </div>
                       <div>
                        <div class="starrr stars"></div>
                        授权码过期时间： <span id="expire_date">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码有效时长： <span id="expire_hour">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码绑定MAC： <span id="active_code_mac">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码绑定标记： <span id="active_code_flag">无</span>
                      </div>

                      <div>
                        <div class="starrr stars"></div>
                        授权码备注： <span id="active_code_remark">无</span>
                      </div>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-md-offset-3" style="border: 1px solid #169F85;border-radius: 3px;">
                      <h5>加密锁授权状态：<small id="dongle_verify_msg">未授权</small></h5>
                  </div>
                </div>
               <div class="ln_solid"></div>

                  <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="button" onclick="history.back()" class="btn btn-primary">取消</button>
                    <button type="submit" class="btn btn-success">提交</button>
                  </div>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");

    let eleMachineMac= $("#machine_mac");
    let eleTextareaActiveCode= $("#active_code");

    let eleDongleVerifyMsg= $("#dongle_verify_msg");//加密锁授权状态
    let eleMachineVerifyMsg= $("#machine_verify_msg");
    let eleActiveCodeMac= $("#active_code_mac");
    let eleActiveCodeFlag= $("#active_code_flag");
    let eleActiveCodeRemark= $("#active_code_remark");
    let eleExpireHour= $("#expire_hour");
    let eleCreateDate= $("#create_date");
    let eleExpireDate= $("#expire_date");
    function f_link(url) {
        window.open(url);
    }
    function f_showMachineVerifyInfo(verify,mac,flag,remark,expire_hour,create_date_str,expire_date_str) {
        let verifyMsg;
        if(-2===verify){
            verifyMsg = "<span class='sun-state-error'>未授权</span";
        }else if(-1===verify){
            verifyMsg = "<span class='sun-state-error'>格式不正确</span";
        }else if(0===verify){
            verifyMsg = "<span class='sun-state-error'>已过期</span";
        }else if(1===verify){
            verifyMsg = "<span class='sun-state-success'>授权中</span>";
        }else{
            verifyMsg ="<span class='sun-state-error'>授权失败</span>";
        }
        eleMachineVerifyMsg.html(verifyMsg)

        if(-1===mac){
            eleActiveCodeMac.html("无")
        }else{
            eleActiveCodeMac.html(mac)
        }
        if(-1===flag){
            eleActiveCodeFlag.html("无")
        }else{
            eleActiveCodeFlag.html(flag)
        }

        if(-1===remark){
            eleActiveCodeRemark.html("无")
        }else{
            eleActiveCodeRemark.html(remark)
        }


        if(-1===expire_hour){
            eleExpireHour.html("无")
        }
        else if(0===expire_hour){
            eleExpireHour.html("永久")
        }else{
            // expire_hour单位是int
            let expire_day = expire_hour/24;
            eleExpireHour.html(expire_day+" (天)")
        }
        if(-1===create_date_str){
            eleCreateDate.html("无")
        }else{
            eleCreateDate.html(create_date_str)
        }
        if(-1===expire_date_str){
            eleExpireDate.html("无")
        }else{
            eleExpireDate.html(expire_date_str)
        }
    }
    function f_showDongleVerifyInfo(dongle_status) {
        let verifyMsg;
        if(-1===dongle_status){
            verifyMsg = "<span class='sun-state-error'>检测加密锁失败！原因：分析器模块未正常运行</span";
        } else if(0===dongle_status){
            verifyMsg = "<span class='sun-state-error'>未发现加密锁设备</span";
        }else if(1===dongle_status){
            verifyMsg = "<span class='sun-state-success'>授权中</span>";
        }else if(2===dongle_status){
            verifyMsg = "<span class='sun-state-error'>已过期</span";
        }else if(3===dongle_status){
            verifyMsg = "<span class='sun-state-error'>验证失败</span";
        }else{
            verifyMsg ="<span class='sun-state-error'>验证失败</span>";
        }
        eleDongleVerifyMsg.html(verifyMsg)

    }
    function f_getAuthInfo() {
        ele_top_loading.show();
        $.ajax({
               url: '/auth/getAuthInfo',
               type: "get",
               async: true,
               data: {},
               dataType: "json",
               timeout: 0,
               error: function () {
                   ele_top_loading.hide();
               },
               success: function (res) {
                   ele_top_loading.hide();
                    let info = res.info;

                    //显示加密锁授权验证结果start
                    f_showDongleVerifyInfo(info.dongle_status);
                    //显示加密锁授权验证结果end

                   //显示机器授权验证结果start
                    let machine_mac = info.machine_mac;
                    if (machine_mac === "00-00-00-00-00-00"){
                        eleMachineMac.html("<span style=\"color:#c9302c;font-size: 13px ;\">读取本机MAC失败！原因：分析器模块未正常运行</span>");
                    }else{
                        eleMachineMac.html("<span style=\"color: green;font-size: 15px ;\">"+machine_mac+"</span>");
                    }

                    eleTextareaActiveCode.val(info.active_code)

                   if(info.active_code_parse_status === 1){//机器授权码解析成功
                        let verify = parseInt(info["verify"]);
                        let verify_expire_hour = parseInt(info["verify_expire_hour"]);
                        let create_date_str = info["create_date_str"];
                        let expire_date_str = info["expire_date_str"];

                        if(isNaN(verify)||isNaN(verify_expire_hour)||create_date_str===""||expire_date_str===""){
                            f_showMachineVerifyInfo(-1,-1,-1,-1,-1,-1,-1)
                        }else{
                            f_showMachineVerifyInfo(verify,info["verify_mac"],info["verify_flag"],info["verify_remark"],verify_expire_hour,create_date_str,expire_date_str);
                        }
                   }else{
                       f_showMachineVerifyInfo(-2,-1,-1,-1,-1,-1,-1)
                   }
                    //显示机器授权验证结果end
               }
            });
    }

    $(function () {
        f_getAuthInfo();
        $("form").submit(function () {
            let active_code = eleTextareaActiveCode.val().trim();
            if("" === active_code){
                myAlert("请输入授权码", "error");
                return false;
            }
             return true;
        });


    });
</script>

{% endblock javascripts %}
