{% extends "app/base_site.html" %}
{% block title %} 编辑摄像头 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

     <div class="row">
         <!--add start-->
                 <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>编辑摄像头 <span id="top_msg">{{top_msg}}</span></h2>
                <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form class="form-horizontal form-label-left"  method="post" enctype="multipart/form-data" data-parsley-validate  >

                     <input type="hidden" name="handle"  value="{{ handle }}">
                     <input type="hidden" name="code"  value="{{ stream.code }}">
                     <input type="hidden" name="app"  value="{{ stream.app }}">
                     <input type="hidden" name="name"  value="{{ stream.name }}">

                      <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">ID </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" disabled  value="{{ stream.id }}" class="form-control">
                          </div>
                        </div>

                             <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">编号 </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="text" disabled  value="{{ stream.code }}" class="form-control">
                  </div>
                </div>

                                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                         {% if stream.forward_state == 1 %}
                                <span class="sun-state-success"><i class="fa fa-bar-chart"></i> 在线</span>
                             {% else %}
                                <span class="sun-state-error">离线</span>
                             {% endif %}

                   </div>
                </div>

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">名称<span class="required" style="color: red;">*</span>
                      </label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="nickname"  value="{{ stream.nickname }}" placeholder="请输入名称" class="form-control">
                      </div>
                </div>

               <div class="form-group way_code_MODEL">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">接入协议 <span class="required" style="color: red;">*</span></label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                        <select disabled="disabled" name="pull_stream_type" class="form-control">
                          <option value="0">请选择</option>
                            {% for pull_stream_type in pull_stream_types %}
                                {% if pull_stream_type.id == stream.pull_stream_type %}
                                    <option selected value="{{ stream.pull_stream_type }}" >{{ pull_stream_type.name }}</option>
                                 {% endif %}
                            {% endfor %}
                        </select>
                  </div>
                </div>



            {% if stream.pull_stream_type == 21 %}
                <!-- 如GB28181接入协议，其他一些私有协议，是不允许修改该字段的 -->

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">摄像头SIP用户名</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" disabled  value="{{ stream.camera_device_id }}" class="form-control">
                   </div>
                </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">SIP服务器</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                     <input type="text" disabled  value="{{ stream.camera_parent_id }}" class="form-control">
                   </div>
                </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">最近一次注册时间</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="text" disabled  value="{{ stream.camera_last_register_time }}" class="form-control">
                   </div>
                </div>
                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">最近一次心跳时间</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="text" disabled  value="{{ stream.camera_last_keepalive_time }}" class="form-control">
                   </div>
                </div>
         {% else %}

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">直播流地址 <span class="required" style="color: red;">*</span></label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="pull_stream_url" value="{{ stream.pull_stream_url }}" placeholder="请输入直播流地址" class="form-control">
                      </div>
                </div>

         {% endif %}

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">直播流IP <span class="required" style="color: red;">*</span></label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="pull_stream_ip" value="{{ stream.pull_stream_ip }}" placeholder="请输入直播流IP" class="form-control">
                      </div>
                </div>

                                      <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">摄像头端口 <span class="required" style="color: red;">*</span></label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="pull_stream_port" value="{{ stream.pull_stream_port }}" placeholder="请输入摄像头端口" class="form-control">
                      </div>
                </div>
               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">摄像头名称
                      </label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="camera_name" value="{{ stream.camera_name }}" placeholder="请输入摄像头名称" class="form-control">
                      </div>
                </div>

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">摄像头厂商
                      </label>
               <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="camera_manufacturer" value="{{ stream.camera_manufacturer }}" placeholder="请输入摄像头厂商" class="form-control">
                      </div>
                </div>


                 <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">备注
                      </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea name="remark" class="form-control" rows="3" placeholder="请输入摄像头备注">{{ stream.remark }}</textarea>
                      </div>
                </div>


                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">返回</button>
                    <button type="submit" class="btn btn-success">提交</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
     <!-- add end -->

        </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>

    let handle = "{{ handle }}";
    let stream_code = "{{ stream.code }}";
    let pull_stream_type = parseInt("{{ stream.pull_stream_type }}");
    let ele_input_nickname= $("input[name='nickname']");
    let ele_input_pull_stream_url = $("input[name='pull_stream_url']");
    let ele_input_pull_stream_ip = $("input[name='pull_stream_ip']");

    function f_docs() {
        window.open("https://gitee.com/Vanishi/BXC_VideoAnalyzer_v4/wikis/视频流管理/添加摄像头");
    }
    function f_validate_ip(ip) {
      const pattern = /^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$/;
      return pattern.test(ip);
    }
    $(document).ready(function () {
       $("form").submit(function () {
           if(ele_input_nickname.val().trim() === ""){
                myAlert("请输入名称","error");
                return false;
            }

           if(pull_stream_type ===21){
               //如GB28181接入协议，其他一些私有协议，是不允许修改该字段的
           }else{
                let pull_stream_url = ele_input_pull_stream_url.val().trim();
                if(pull_stream_url === ""){
                    myAlert("请输入直播流地址","error");
                    return false;
                }
                if(pull_stream_type === 1 ){
                    if(!pull_stream_url.startsWith("rtsp://")){
                        myAlert("RTSP类型接入协议仅支持rtsp直播流地址","error");
                        return false;
                    }
                }
                else if(pull_stream_type === 2 ){
                    if(!pull_stream_url.startsWith("rtmp://")){
                        myAlert("RTMP类型接入协议仅支持rtmp直播流地址","error");
                        return false;
                    }
                }
                else if(pull_stream_type === 3 ){
                    if(!pull_stream_url.startsWith("http://")){
                        myAlert("FLV接入协议仅支持FLV直播流地址","error");
                        return false;
                    }
                }
                else if(pull_stream_type === 4 ){
                    if(!pull_stream_url.startsWith("http://")){
                        myAlert("HLS接入协议仅支持HLS直播流地址","error");
                        return false;
                    }
                }
           }

       });
    });

</script>

{% endblock javascripts %}
