{% extends "app/base_site.html" %}

{% block title %} 分屏查看 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<style>
    video{
        width: 100%;
        height: 100%;
        max-height: 500px;
        background-color: rgba(0,0,00,0.6);
        /*object-fit: fill;*/
        /*border-radius: 5px;*/
        /*border: 1px solid #f0f0f0;*/
    }
    /*
    video:focus {
        outline: -webkit-focus-ring-color auto 0;
    }
    */

    /*全屏按钮
    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }*/
    /*播放按钮*/
    video::-webkit-media-controls-play-button {
        display: none;
    }
    /*进度条*/
    video::-webkit-media-controls-timeline {
        display: none;
    }
    /*观看的当前时间*/
    video::-webkit-media-controls-current-time-display{
        display: none;
    }
    /*剩余时间*/
    video::-webkit-media-controls-time-remaining-display {
        display: none;
    }
    /*音量按钮*/
    video::-webkit-media-controls-mute-button {
        display: none;
    }
    video::-webkit-media-controls-toggle-closed-captions-button {
        display: none;
    }
    /*音量的控制条*/
    video::-webkit-media-controls-volume-slider {
        display: none;
    }
    /*所有控件
    video::-webkit-media-controls-enclosure{
        display: none;
    }
    */

    #grid_video_container {
        width: 100%;
        height: 100%;
        /*border: 1px solid red;*/
    }
    .grid_item_active {
        /*box-shadow: 0 0 2px 1px red;*/
        border: 1px red solid !important;
    }

    .grid_item1 {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 1.0);
        border: 1px #fff solid;
    }
    .grid_item4 {
        float: left;
        width: 50%;
        height: 50% !important;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 1.0);
        border: 1px #fff solid;
    }
    .grid_item9 {
        float: left;
        width: 33.33%;
        height: 33.33% !important;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 1.0);
        border: 1px #fff solid;
    }
    .grid_item16 {
        float: left;
        width: 25%;
        height: 25% !important;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 1.0);
        border: 1px #fff solid;
    }
</style>
<script>
    let streamCodeDict = {};//视频流字典
</script>

  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

        <div class="x_title">
            <form class="form-horizontal form-label-left" onsubmit="return false;">
                <div class="form-group">
                  <div style="margin-left: 5px;"  class="col-md-3 col-sm-3 col-xs-12">
                    <select id="select_stream" class="select2_group form-control">
                        <option value="0">请选择视频流</option>
                        {% for gitem in group_streams %}
                          <optgroup label="{{ gitem.group_name_ch }}">
                             {% for stream in gitem.streams %}
                                   <script>
                                        streamCode = '{{ stream.code }}';
                                        streamCodeDict[streamCode] = {
                                            'code':streamCode,
                                            "app":'{{ stream.app }}',
                                            "name":'{{ stream.name }}',
                                            "video":'{{ stream.video }}',
                                            "video_codec_name":'{{ stream.video_codec_name }}',
                                            "video_width":parseInt('{{ stream.video_width }}'),
                                            "video_height":parseInt('{{ stream.video_height }}'),
                                            "audio":'{{ stream.audio }}',
                                            "videoUrl":'{{ stream.videoUrl }}',
                                            "wsHost":'{{ stream.wsHost }}',
                                            "wsMp4Url":'{{ stream.wsMp4Url }}',
                                            "source_nickname":'{{ stream.source_nickname }}'
                                        }
                                    </script>
                                <option value="{{ stream.code }}">{{ stream.source_nickname }}</option>
                             {% endfor %}
                          </optgroup>
                        {% endfor %}
                    </select>
                  </div>
                  <button type="button" class="btn btn-success btn-sm" onclick="f_clickPlayStart()">播放</button>
                  <button type="button" class="btn btn-default btn-sm" onclick="f_clickPlayStop()">停止</button>

                   <button style="margin-left:10px;" type="button"  class="btn btn-primary btn-sm" onclick="f_createGridVideoContainer(1)">单屏</button>
                  <button type="button"  class="btn btn-primary btn-sm" onclick="f_createGridVideoContainer(4)">4分屏</button>
                  <button type="button"  class="btn btn-primary btn-sm" onclick="f_createGridVideoContainer(9)">9分屏</button>
                  <button type="button"  class="btn btn-primary btn-sm" onclick="f_createGridVideoContainer(16)">16分屏</button>

                    <div style="float: right; margin-top: 6px; margin-right: 50px;">
                        <button type="button"  class="btn btn-dark btn-sm" onclick="f_clickFullScreen()">全屏显示</button>
                    </div>

                </div>
            </form>
            <div class="clearfix"></div>
         </div>

            <div class="x_content">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="grid_video_container">

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script src="/static/lib/wsPlayer/mp4box.all.min.js"></script>
<script src="/static/lib/wsPlayer/wsPlayer.js"></script>
<script>

    let eleSelectStream = $("#select_stream");// select  选择视频流
    let eleGridVideoContainer = $("#grid_video_container");
    let mSelectedGridVideoCount;//当前选中的多屏数量
    let mSelectedGridItemClass;//当前选中的多屏class属性
    let mSelectedVideoId = null;
    let mSelectedVideoJsObj = null;
    let mSelectedVideoPlayerMap = new Map;//播放器字典 {id:player,,,}

    function f_playStart(video_id,video_url){
        console.log("f_playStart() ",video_id,video_url);
        try {
            let player = mSelectedVideoPlayerMap.get(video_id);
            if(typeof player === "undefined" || player === "undefined"){
                //首次创建播放器
                player = new wsPlayer(video_id, video_url);
                player.open();
                mSelectedVideoPlayerMap.set(video_id,player);
            }else{
                //已经存在播放器，先销毁再创建
                player.close();
                player = new wsPlayer(video_id, video_url);
                player.open();
                mSelectedVideoPlayerMap.set(video_id,player);
            }
        }catch (e) {
            console.log("f_playStart() error:",e);
        }

    }
    function f_playStop(video_id){
        console.log("f_playStop() ",video_id);
        try {
            let player = mSelectedVideoPlayerMap.get(video_id);
            if(typeof player === "undefined" || player === "undefined"){
                //播放器已经停止播放
            }else{
                //播放器停止播放成功
                mSelectedVideoPlayerMap.delete(video_id);
                player.close();
                player = null;
                if(mSelectedVideoJsObj){
                    mSelectedVideoJsObj.load();
                }
            }
        }catch (e) {
            console.log("f_playStop() error:",e);
        }
    }
    function f_rePlay(video_id){
        let player = mSelectedVideoPlayerMap.get(video_id);
        if(typeof player === "undefined" || player === "undefined"){
            console.log("播放器已经停止播放");
        }else{
            let video_url = player.wsUrl;
            let index = video_url.search("/transcode_");
            if(index !== -1){
                //存在转码的播放地址
                console.log("重启播放器",typeof player,player,video_url);
                player.close();
                player = null;
                player = new wsPlayer(video_id, video_url);
                player.open();
            }

        }
    }

    function f_createVideoId(index) {
        return "video" + mSelectedGridVideoCount.toString() + "_" + index.toString();
    }
    function f_createGridVideoContainer(gridVideoCount) {
        mSelectedGridVideoCount = gridVideoCount;
        switch (gridVideoCount) {
            case 1:
                mSelectedGridItemClass = "grid_item1";
                break;
            case 4:
                mSelectedGridItemClass = "grid_item4";
                break;
            case 9:
                mSelectedGridItemClass = "grid_item9";
                break;
            case 16:
                mSelectedGridItemClass = "grid_item16";
                break;
            default:
                mSelectedGridItemClass = "grid_item4";
                break;
        }
        mSelectedVideoId = null;//重置选中的video
        for (let video_id of mSelectedVideoPlayerMap.keys()){
            f_playStop(video_id);
        }
        mSelectedVideoPlayerMap.clear();

        console.log("f_createGridVideoContainer()",mSelectedGridVideoCount,mSelectedGridItemClass,mSelectedVideoId,mSelectedVideoPlayerMap);

        let html = "";
        //eleGridVideoContainer.html(html);
        for (let i = 0; i < mSelectedGridVideoCount; i++) {
            let video_id = f_createVideoId(i);
            let video_class = mSelectedGridItemClass;
            if(i===0){
                video_class += " grid_item_active";
                mSelectedVideoId = video_id;
            }
            html += "<video id='"+video_id+"' class='"+video_class+"' poster='/static/images/player_poster.jpg' ";
            html += " onclick='f_clickVideo(this)' ";
            html += " disablePictureInPicture muted controls autoplay>Your browser is too old which doesn't support HTML5 video.</video>";
        }
        eleGridVideoContainer.html(html);
        if(mSelectedVideoId){
            $("#"+mSelectedVideoId).click();
        }

    }
    function f_clickVideo(obj) {
        console.log("f_clickVideo()",mSelectedGridVideoCount,mSelectedGridItemClass,mSelectedVideoId)
        mSelectedVideoJsObj = obj;

        //console.log("obj_js=",obj_js)
        //let obj_jquery = $(obj_js);
        //console.log("obj_jquery=",obj_jquery)
        //let selected_id = obj_jquery.attr("id");

        let selected_id = obj.getAttribute("id");
        let selected_classList = obj.classList;
        if(!selected_classList.contains("grid_item_active")){ //首次选中
            for (let i = 0; i < mSelectedGridVideoCount; i++) {
                let video_id = f_createVideoId(i);
                if(video_id === selected_id){
                    selected_classList.add("grid_item_active")
                    mSelectedVideoId = video_id;
                }else{
                    let eleVideoJqueryObj= $("#"+video_id);
                    eleVideoJqueryObj.attr("class",mSelectedGridItemClass);
                }
            }
        }
    }

    function f_clickPlayStart() {
        console.log("f_clickPlayStart()",mSelectedGridVideoCount,mSelectedGridItemClass,mSelectedVideoId,mSelectedVideoPlayerMap)
        if(mSelectedVideoId===null){
            myAlert("请选中一个窗口！","error");
            return false;
        }
        streamCode = eleSelectStream.val().trim();//typeof string
        if(streamCode==="-1"){
            myAlert("暂无视频流","error");
            return false;
        }else if(streamCode==="0"){
            myAlert("请选择视频流","error");
            return false;
        }
        let stream = streamCodeDict[streamCode];
        let app = stream["app"];

        let video_url;
        if(app === "analyzer"){
            video_url = stream["wsMp4Url"]
        }else{
            let wsHost = stream["wsHost"];
            let video_codec_name = stream["video_codec_name"];
            let video_width = stream["video_width"];
            let video_height = stream["video_height"];

            let name = stream["name"];

            /*
            let target_video_width = 1280;
            let target_video_height = 720;
            if(mSelectedGridVideoCount===4){
               target_video_width = 720;
               target_video_height = 576;//576p
            }else if(mSelectedGridVideoCount===9){
               target_video_width = 640;
               target_video_height = 480;//480p
            }else if(mSelectedGridVideoCount===16){
               target_video_width = 480;
               target_video_height = 360;//360p
            }
            */

            let target_video_width = video_width;
            let target_video_height = video_height;
            let target_video_codec_name = "h264";

            video_url = f_createTranscodeUrl(wsHost,video_codec_name,video_width,video_height,app,name,target_video_width,target_video_height,target_video_codec_name);
        }

        if(typeof video_url === "undefined" || !video_url.startsWith("ws://") || !video_url.endsWith(".mp4")){
            myAlert("视频流地址格式不正确！","error");
            return false;
        }
        f_playStart(mSelectedVideoId,video_url);

    }
	function f_clickPlayStop() {
        console.log("f_clickPlayStop()",mSelectedGridVideoCount,mSelectedGridItemClass,mSelectedVideoId,mSelectedVideoPlayerMap)
        f_playStop(mSelectedVideoId);
    }
    function f_clickFullScreen() {
        let ele_grid_video_container = document.getElementById("grid_video_container");
        //使用Chrome浏览器需要加上webkit
        // ele_grid_video_container.webkitRequestFullScreen();
        // ele_grid_video_container.requestFullscreen();
        //使用FireFox浏览器需要加上moz
        // ele_grid_video_container.mozRequestFullScreen();
        if (ele_grid_video_container.requestFullscreen) {
            ele_grid_video_container.requestFullscreen();
        } else if (ele_grid_video_container.webkitRequestFullScreen) {
            ele_grid_video_container.webkitRequestFullScreen();
        } else if (ele_grid_video_container.mozRequestFullScreen) {
            ele_grid_video_container.mozRequestFullScreen();
        } else if (ele_grid_video_container.msRequestFullScreen) {
            ele_grid_video_container.msRequestFullScreen();
        }
    }
    $(function() {
        f_createGridVideoContainer(9);
    });


</script>

{% endblock javascripts %}
