{% extends "app/base_site.html" %}

{% block title %} 播放器 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<style>
    video{
        width: 100%;
        height: 100%;
        max-height: 550px;
        background-color: rgba(0,0,00,1.0);
        /*object-fit: fill;*/ /*伸缩*/
        border-radius: 5px;
        /*border: 1px solid #f0f0f0;*/
    }

    video:focus {
        outline: -webkit-focus-ring-color auto 0;
    }

      #input_address {
        -webkit-appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        font-size: 13px;
          font-weight: normal;
        height: 35px;
        line-height: 35px;
          width: 400px;

          margin-left: 15px;
        padding: 1px 10px;
        transition: border-color .2s cubic-bezier(.645,.045,.355,1);

      }
</style>


  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                  <label>
                      <input id="input_address" type="text" placeholder="请输入播放地址（支持ws-fmp4/http-fmp4）">
                  </label>
                  <button style="margin-left: 10px;"  type="button" class="btn btn-success btn-sm" onclick="f_clickPlayStart()">播放</button>
                  <button type="button" class="btn btn-default btn-sm" onclick="f_clickPlayStop()">停止</button>

                <!--
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>-->

                    <div style="float: right; margin-top: 6px; margin-right: 50px;">
                        <button type="button" id="handle_snapshot"  class="btn btn-primary btn-sm">截图</button>
                        <button type="button" id="handle_record"  class="btn btn-primary btn-sm">开启录像</button>
                    </div>

                  <div class="clearfix"></div>
            </div>

            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                   <video id="video_player" poster="/static/images/player_poster.jpg" muted controls autoplay>
                        Your browser is too old which doesn't support HTML5 video.
                    </video>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12">

                 <div class="form-horizontal form-label-left">

                    {% if is_exist_stream %}
                        <p style="margin-top:10px;font-size: 16px;">视频流支持的所有转发协议</p>
                        <p>{{ stream.wsMp4Url }}</p>
                        <p>{{ stream.wsFlvUrl }}</p>
                        <p>{{ stream.httpMp4Url }}</p>
                        <p>{{ stream.httpFlvUrl }}</p>
                        <p>{{ stream.rtspUrl }}</p>
                     {% endif %}
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script src="/static/lib/wsPlayer/mp4box.all.min.js"></script>
<script src="/static/lib/wsPlayer/wsPlayer.js"></script>
<script>
    let stream_app = "{{ stream.app }}";
    let stream_name = "{{ stream.name }}";

    let eleVideoPlayerJqueryObj = $("#video_player");
    let eleInputAddress= $("#input_address");
    let eleHandleSnapshot = $("#handle_snapshot");
    let eleHandleRecord = $("#handle_record");
    let mCurrentVideoPlayer = null;
    let mCurrentVideoUrl = null;//当前视频流地址
    let mCurrentIsRecording = false;

    function f_playStart(video_url) {
        mCurrentVideoUrl = video_url;
        if(mCurrentVideoUrl.startsWith("ws://")){
            if(mCurrentVideoPlayer){
                try {
                    mCurrentVideoPlayer.close();
                }catch (e) {
                    console.log("f_playStart() err:",e);
                }
            }
            mCurrentVideoPlayer = new wsPlayer("video_player", mCurrentVideoUrl);
            mCurrentVideoPlayer.open();
        }else if(mCurrentVideoUrl.startsWith("http://")){
            eleVideoPlayerJqueryObj.attr("src",mCurrentVideoUrl);
        }
    }
    function f_playStop() {
        if(mCurrentVideoUrl.startsWith("ws://")){
            if(mCurrentVideoPlayer){
                mCurrentVideoPlayer.close();
                mCurrentVideoPlayer = null;
                eleVideoPlayerJqueryObj.removeAttr("src");
                eleVideoPlayerJqueryObj.load();
            }
        }else if(mCurrentVideoUrl.startsWith("http://")){
            eleVideoPlayerJqueryObj.removeAttr("src");
            eleVideoPlayerJqueryObj.load();
        }
    }
    function f_clickPlayStart() {
        let video_url = eleInputAddress.val().trim();

        if(video_url === "" || typeof video_url === "undefined"){
            myAlert("请输入播放地址（支持ws-fmp4/http-fmp4）！","error");
            return false;
        }

        if(!video_url.endsWith(".mp4")){
            myAlert("视频流地址格式不正确！","error");
            return false;
        }
        if(video_url.startsWith("ws://") || video_url.startsWith("http://")){
            f_playStart(video_url);
        }else{
             myAlert("视频流地址格式不正确！","error");
             return false;
        }

    }
	function f_clickPlayStop() {
        f_playStop();
    }
    function f_getVideoIsRecording() {
        $.ajax({
               url: "/nvr/getVideoIsRecording",
               type: "get",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.html("停止录像");
                       eleHandleRecord.removeClass("btn-primary")
                       eleHandleRecord.addClass("btn-danger")
                        mCurrentIsRecording = true;
                   }
               }
            });
    }
    eleHandleSnapshot.click(function () {
        $.ajax({
           url: "/nvr/postSnapShot",
           type: "post",
           async: true,
           data: {"app":stream_app,"name":stream_name},
           dataType: "json",
           timeout: 0,
           error: function () {
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                       let info = res.info;

                       let snapshot_ret = info["snapshot_ret"]
                       let snapshot_msg = info["snapshot_msg"]
                       if(snapshot_ret===true){
                           let snapshot_filename = info["snapshot_filename"]
                           let download_url = "/nvr/getDownload?filename="+snapshot_filename;
                           window.open(download_url);
                       }else{
                           myAlert(snapshot_msg,"error");
                       }
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });
    })
    eleHandleRecord.click(function () {
        //开启录像和停止录像
        console.log("stream_app->",typeof stream_app,stream_app)
        console.log("stream_name->",typeof stream_name,stream_name)

        if(mCurrentIsRecording){
            //当前正在录制中，接下来执行停止录像
            $.ajax({
               url: "/nvr/postStopRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                       eleHandleRecord.html("开启录像");
                       eleHandleRecord.removeClass("btn-danger")
                       eleHandleRecord.addClass("btn-primary")

                       mCurrentIsRecording = false;
                       let info = res.info;

                       let record_ret = info["record_ret"]
                       let record_msg = info["record_msg"]
                       if(record_ret===true){
                           let record_video_filename = info["record_video_filename"]
                           let download_url = "/nvr/getDownload?filename="+record_video_filename;
                           window.open(download_url);
                       }else{
                           myAlert(record_msg,"error");
                       }
                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });

        }else{
            //当前未录制，接下来开启录像
            $.ajax({
               url: "/nvr/postStartRecordVideo",
               type: "post",
               async: true,
               data: {"app":stream_app,"name":stream_name},
               dataType: "json",
               timeout: 0,
               error: function () {
                   myAlert("网络异常，请确定网络正常！","error");
               },
               success: function (res) {
                   if(1000 === res.code){
                        eleHandleRecord.html("停止录像");
                       eleHandleRecord.removeClass("btn-primary")
                       eleHandleRecord.addClass("btn-danger")
                        mCurrentIsRecording = true;

                   }else{
                        myAlert(res.msg,"error");
                   }
               }
            });
        }
    });
    
    $(function() {
        let is_exist_stream = parseInt("{{ is_exist_stream }}");
        if(is_exist_stream){
            let is_online = parseInt("{{ stream.is_online }}");
            let video_codec_name = "{{ stream.video_codec_name }}";
            let video_width = parseInt("{{ stream.video_width }}");
            let video_height = parseInt("{{ stream.video_height }}");
            let app = "{{ stream.app }}";
            let name = "{{ stream.name }}";
            let wsHost = "{{ stream.wsHost }}";
            let wsMp4Url = "{{ stream.wsMp4Url }}";
            //let httpMp4Url = "{{ stream.httpMp4Url }}";
            //let rtspUrl = "{{ stream.rtspUrl }}";

            let video_url;
            if(is_online){
                //let target_video_width = 1280;
                //let target_video_height = 720;

                let target_video_width = video_width;
                let target_video_height = video_height;

                video_url = f_createTranscodeUrl(wsHost,video_codec_name,video_width,video_height,app,name,target_video_width,target_video_height);
            }else{
                video_url  = wsMp4Url;//不在线，就用默认地址
            }

            //let video_url = "http://127.0.0.1:9003/live/test.live.mp4";
            //let video_url = "ws://127.0.0.1:9003/live/test.live.mp4";
            eleInputAddress.val(video_url);
            f_playStart(video_url);
        }

        f_getVideoIsRecording();
    });
</script>

{% endblock javascripts %}
