{% extends "app/base_site.html" %}

{% block title %} {% if  "add" == handle %}添加{% else %}编辑{% endif %}算法 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

{% endblock stylesheets %}
{% block content %}

<script>
    let modeDict = {};//模式字典
    let modeId;//模式ID

    let algorithmDetectDict = {};//基础检测算法字典
    let algorithmDetectCode;//基础检测算法编号

    let algorithmClassifyDict = {};//基础分类算法字典
    let algorithmClassifyCode;//基础分类算法编号

    let algorithmTrackDict = {};//追踪算法字典
    let algorithmTrackCode;//追踪算法编号

    let behaviourDict = {}; //行为算法字典
    let behaviourCode;

</script>

  <div class="right_col" role="main">
    <div class="">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{% if  "add" == handle %}添加{% else %}编辑{% endif %}算法</h2>
                <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                  <div class="form-horizontal form-label-left">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">算法编号</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                              <span style="height: 34px;line-height: 34px;padding: 6px 0;">{{ flow.code }}</span>
                          </div>
                        </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">算法名称 <span class="required" style="color: red;">*</span></label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="text" name="name" value="{{ flow.name }}" required="required"  class="form-control">
                  </div>
                </div>

                    <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">选择算法流程模式 <span class="required" style="color: red;">*</span></label></label>

                          <div class="col-md-9 col-sm-9 col-xs-12">

                            <select id="select_mode"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for mode in modes %}
                                   <script>
                                        modeID = '{{ mode.id }}';
                                        modeDict[modeID] = {
                                            "id":modeID,
                                            "name":'{{ mode.name }}',
                                            "code":'{{ mode.code }}'
                                        }

                                    </script>
                                        <option {% if mode.state == 0 %} disabled {% endif %} {% if mode.id == flow.mode %} selected {% endif %} value="{{ mode.id }}">
                                            {{ mode.name }}{% if mode.state == 0 %}（暂不支持）{% endif %}
                                        </option>

                                {% endfor %}
                            </select>

                          </div>
                    </div>


                    <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">选择检测算法 </label>

                          <div class="col-md-9 col-sm-9 col-xs-12">

                            <select id="select_algorithm_detect"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_detect_data %}
                                   <script>
                                        algorithmDetectCode = '{{ algorithm.code }}';
                                        algorithmDetectDict[algorithmDetectCode] = {
                                            "code":algorithmDetectCode,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>

                                    <option {% if algorithm.code == flow.algorithm_detect_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device}} ）
                                    </option>

                                {% endfor %}
                            </select>

                          </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">选择检测目标 </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="select_detect_class_name"  class="select2_multiple form-control" required="required"  multiple="multiple" >
                            <option value="0">---请选择检测目标(可多选)---</option>
                        </select>
                      </div>
                    </div>


                      <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">选择分类算法 </label>

                          <div class="col-md-9 col-sm-9 col-xs-12">

                            <select id="select_algorithm_classify"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_classify_data %}
                                   <script>
                                        algorithmClassifyCode = '{{ algorithm.code }}';
                                        algorithmClassifyDict[algorithmClassifyCode] = {
                                            "code":algorithmClassifyCode,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>


                                    <option {% if algorithm.code == flow.algorithm_classify_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device }}）
                                    </option>


                                {% endfor %}
                            </select>

                          </div>
                    </div>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">选择分类目标 </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <select id="select_classify_class_name"  class="select2_multiple form-control" required="required"  multiple="multiple" >
                            <option value="0">---请选择分类目标(可多选)---</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">选择追踪算法</label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="select_algorithm_track"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>
                                {% for algorithm in algorithm_track_data %}
                                   <script>
                                        algorithmTrackCode = '{{ algorithm.code }}';
                                        algorithmTrackDict[algorithmTrackCode] = {
                                            "code":algorithmTrackCode,
                                            "algorithm_type":'{{ algorithm.algorithm_type }}',
                                            "name":'{{ algorithm.name }}',
                                            "model_class_names":'{{ algorithm.model_class_names }}'
                                        }

                                    </script>

                                    <option {% if algorithm.code == flow.algorithm_track_code %} selected {% endif %} value="{{ algorithm.code }}">
                                        {{ algorithm.name }}（{{ algorithm.framework }}/{{ algorithm.inference }}/{{ algorithm.inference_device }}）
                                    </option>

                                {% endfor %}
                            </select>
                          </div>
                        </div>

                   <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">选择行为算法 <span class="required" style="color: red;">*</span></label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="select_behaviour"  class="select2_single form-control" required="required" >
                                <option value="0">请选择</option>

                                {% for behaviour in behaviours %}
                                   <script>
                                        behaviourCode = '{{ behaviour.code }}';
                                        behaviourDict[behaviourCode] = {
                                            "code":behaviourCode,
                                            "name":'{{ behaviour.name }}'
                                        }
                                    </script>

                                    <option {% if behaviour.code == flow.behaviour_code %} selected {% endif %} value="{{ behaviour.code }}">
                                        {{ behaviour.name }}（{{ behaviour.way_code }}/{{ behaviour.way_value }}）
                                    </option>
                                {% endfor %}

                            </select>
                          </div>
                        </div>

                  <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">分析进程 <span class="required" style="color: red;">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="number" name="deploy_process_index" value="{{ flow.deploy_process_index }}"  class="form-control">
                            </div>
                        </div>

                  <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">模型最大实例数 <span class="required" style="color: red;">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="number" name="max_concurrency" value="{{ flow.max_concurrency }}"  class="form-control">
                          </div>
                        </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">实例增长单位 <span class="required" style="color: red;">*</span></label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                    <input type="number" name="concurrency_unit_length" value="{{ flow.concurrency_unit_length }}"  class="form-control">
                  </div>
                </div>

            <!--
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">扩展参数
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea rows="3" name="extend_params" class="form-control col-md-7 col-xs-12">{{ flow.extend_params }}</textarea>

                      </div>
                </div>

               <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">备注
                      </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                        <textarea required="required" name="remark" class="form-control col-md-7 col-xs-12">{{ flow.remark }}</textarea>

                      </div>
                </div>
                -->

                  <div class="ln_solid"></div>

                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="button" onclick="window.history.go(-1)" class="btn btn-primary">返回</button>
                        <button type="button" onclick="f_submit()" class="btn btn-success">提交</button>
                      </div>
                    </div>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script>
    let flow_code= '{{ flow.code }}';// 布控编号
    let old_flow_algorithm_detect_code = '{{ flow.algorithm_detect_code }}';// 布控原始基础算法编号
    let old_flow_detect_class_names = '{{ flow.detect_class_names }}';// 布控原始检测算法目标

    let old_flow_algorithm_classify_code = '{{ flow.algorithm_classify_code }}';// 布控原始分类算法编号
    let old_flow_classify_class_names = '{{ flow.classify_class_names }}';// 布控原始分类算法目标

    let handle = '{{ handle }}';// 操作类型 add 或 edit
    let ele_input_name= $("input[name='name']");
    let ele_input_deploy_process_index= $("input[name='deploy_process_index']");
    let ele_input_max_concurrency= $("input[name='max_concurrency']");
    let ele_input_concurrency_unit_length= $("input[name='concurrency_unit_length']");

    //算法流程模式
    let eleSelectFlow= $("#select_mode");// select 流程模式
    //检测算法
    let eleSelectAlgorithmDetect = $("#select_algorithm_detect");// select 检测算法
    let eleSelectDetectClassName = $("#select_detect_class_name");// select 检测算法目标
    //分类算法
    let eleSelectAlgorithmClassify = $("#select_algorithm_classify");// select 分类算法
    let eleSelectClassifyClassName = $("#select_classify_class_name");// select 分类算法目标
    //追踪算法
    let eleSelectAlgorithmTrack = $("#select_algorithm_track");// select 追踪算法
    //行为算法
    let eleSelectBehaviour = $("#select_behaviour");// select 行为算法
    let eleTextarea_extend_params = $("textarea[name='extend_params']");//扩展参数
    let eleTextarea_remark = $("textarea[name='remark']");
    function f_showDetectOptions(algorithm_code,selected_class_names) {
       console.log("f_showDetectOptions->",algorithm_code,"selected_class_names->",selected_class_names)

        let html = "<option value=\"0\">---请选择检测目标(可多选)---</option>";

        let algorithm = algorithmDetectDict[algorithm_code];
        if (algorithm === undefined){
            //不存在当前编号
        }else{

            //需要显示选择目标
            eleSelectDetectClassName.removeAttr("disabled");
            let model_class_names = algorithm["model_class_names"];
            let model_class_names_array = model_class_names.split(",");
            let selected_class_names_array = selected_class_names.split(",");
            for (let i = 0; i < model_class_names_array.length; i++) {
                let class_name = model_class_names_array[i];
                let match = selected_class_names_array.indexOf(class_name);
                if(match > -1){
                    html += "<option selected value=\""+class_name+"\">"+class_name+"</option>";
                }else{
                    html += "<option value=\""+class_name+"\">"+class_name+"</option>";
                }
            }
            //需要使用行为算法
            eleSelectBehaviour.removeAttr("disabled");

        }


        eleSelectDetectClassName.html(html);
    }
    function f_showClassifyOptions(algorithm_code,selected_class_names) {
       console.log("f_showClassifyOptions->",algorithm_code,"selected_class_names->",selected_class_names)
        let html = "<option value=\"0\">---请选择分类目标(可多选)---</option>";
        let algorithm = algorithmClassifyDict[algorithm_code];
        if (algorithm === undefined){
            //不存在当前编号
        }else{

            //需要显示选择目标
            eleSelectClassifyClassName.removeAttr("disabled");
            let model_class_names = algorithm["model_class_names"];
            let model_class_names_array = model_class_names.split(",");
            let selected_class_names_array = selected_class_names.split(",");
            for (let i = 0; i < model_class_names_array.length; i++) {
                let class_name = model_class_names_array[i];
                let match = selected_class_names_array.indexOf(class_name);
                if(match > -1){
                    html += "<option selected value=\""+class_name+"\">"+class_name+"</option>";
                }else{
                    html += "<option value=\""+class_name+"\">"+class_name+"</option>";
                }
            }
            //需要使用行为算法
            eleSelectBehaviour.removeAttr("disabled");

        }

        eleSelectClassifyClassName.html(html);
    }
    eleSelectAlgorithmDetect.change(function () {
        let code = $(this).val();
        if(code === old_flow_algorithm_detect_code){
             f_showDetectOptions(code,old_flow_detect_class_names);
        }else{
             f_showDetectOptions(code,"");
        }
    });
    eleSelectAlgorithmClassify.change(function () {
        let code = $(this).val();
        if(code === old_flow_algorithm_classify_code){
             f_showClassifyOptions(code,old_flow_classify_class_names);
        }else{
             f_showClassifyOptions(code,"");
        }
    });
    function f_calcuOptionStr(options_array) {
        let options_s = "";
        if(options_array===null){
            //不能为空
        }else{
            let temp = [];
            for (let i = 0; i < options_array.length; i++) {
                if("0"!==options_array[i]){
                    temp.push(options_array[i]);
                }
            }
            if(temp.length > 0) {
                options_s = temp.join(",");
            }
        }
        //console.log("options_array->",typeof options_array,options_array)
        //console.log("options_s->",typeof options_s,options_s)
        return options_s;
    }

    function f_submit() {
        let name_s = ele_input_name.val().trim();
        if(name_s === ""){
            myAlert("请输入算法名称","error");
            return false;
         }
        modeId = eleSelectFlow.val().trim();
        if(modeId==="0" || modeId ===""){
            myAlert("请选择算法模式","error");
            return;
        }
        modeId = parseInt(modeId)
        let algorithmDetectCode_s = "";//检测算法编号 typeof string
        let algorithmClassifyCode_s = "";//分类算法编号 typeof string
        let algorithmTrackCode_s = "";//跟踪算法编号 typeof string
        let behaviourCode_s = "";//行为算法编号 typeof string
        let detectClassNames_s = ""; //检测算法的目标 例如: person,dog,cat,,,
        let classifyClassNames_s = "";//分类算法的目标 例如: person,dog,cat,,,

        switch (modeId) {
            case 1:{
                //检测算法>>行为算法，Detect_Behaviour
                algorithmDetectCode_s = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode_s==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames_s = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames_s === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //行为算法判断
                behaviourCode_s = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode_s==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 2:{
                //检测算法>>追踪算法>>行为算法，Detect_Track_Behaviour
                algorithmDetectCode_s = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode_s==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }

                //检测算法目标option
                detectClassNames_s = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames_s === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //判断追踪算法
                algorithmTrackCode_s = eleSelectAlgorithmTrack.val().trim();
                if(algorithmTrackCode_s==="0"){
                    myAlert("请选择追踪算法","error");
                    return;
                }

                //行为算法判断
                behaviourCode_s = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode_s==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }

                break
            }
            case 3:{
                //检测算法>>分类算法>>行为算法，Detect_Classify_Behaviour
                algorithmDetectCode_s = eleSelectAlgorithmDetect.val().trim();
                if(algorithmDetectCode_s==="0"){
                    myAlert("请选择检测算法","error");
                    return;
                }
                //检测算法目标option
                detectClassNames_s = f_calcuOptionStr(eleSelectDetectClassName.val());// eleSelectDetectClassName.val();//typeof object, array
                if(detectClassNames_s === ""){
                    myAlert("请至少选择1个检测目标","error");
                    return;
                }
                //判断分类算法
                algorithmClassifyCode_s= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode_s==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames_s = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames_s === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }
                //行为算法判断
                behaviourCode_s = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode_s==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 4:{
                //分类算法>>行为算法，Classify_Behaviour
                //判断分类算法
                algorithmClassifyCode_s= eleSelectAlgorithmClassify.val().trim();
                if(algorithmClassifyCode_s==="0"){
                    myAlert("请选择分类算法","error");
                    return;
                }
                //分类算法目标option
                classifyClassNames_s = f_calcuOptionStr(eleSelectClassifyClassName.val());
                if(classifyClassNames_s === ""){
                    myAlert("请至少选择1个分类目标","error");
                    return;
                }

                //行为算法判断
                behaviourCode_s = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode_s==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            case 5:{
                //行为算法，Behaviour

                //行为算法判断
                behaviourCode_s = eleSelectBehaviour.val().trim();//typeof string
                if(behaviourCode_s==="0"){
                    myAlert("请选择行为算法","error");
                    return;
                }
                break
            }
            default: {
                //其他类型
                myAlert("请选择正确的算法流程模式","error");
                return;
            }
        }

        let deploy_process_index = parseInt(ele_input_deploy_process_index.val());//分析进程序号
        let max_concurrency = parseInt(ele_input_max_concurrency.val());
        let concurrency_unit_length = parseInt(ele_input_concurrency_unit_length.val());

        let extend_params = eleTextarea_extend_params.val();
        if(extend_params===undefined){
            extend_params = "";
        }
        let remark = eleTextarea_remark.val();
        if(remark===undefined){
            remark = "";
        }
        let data = {
            "handle":handle,
            "name":name_s,
            "mode":modeId,
            "flow_code":flow_code,
            "algorithm_detect_code":algorithmDetectCode_s,
            "algorithm_classify_code":algorithmClassifyCode_s,
            "algorithm_track_code":algorithmTrackCode_s,
            "behaviour_code":behaviourCode_s,
            "detect_class_names":detectClassNames_s,
            "classify_class_names":classifyClassNames_s,
            "deploy_process_index":deploy_process_index,
            "max_concurrency":max_concurrency,
            "concurrency_unit_length":concurrency_unit_length,
            "extend_params":extend_params,
            "remark":remark
        }

        let handleUrl;
        if("add" === handle){
            handleUrl = "/algorithmFlow/add";
        }else if("edit" === handle){
            handleUrl = "/algorithmFlow/edit";
        }else{
            return;
        }

        $.ajax({
           url: handleUrl,
           type: "post",
           async: true,
           data: data,
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",1000);
                   //setTimeout(function () {
                   //   window.location.href= "/algorithmFlow/index";
                   //}, 1000);
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });

    }

    function f_docs() {
        let url= "{{ settings.docs.algorithmFlowAdd }}";
        window.open(url);
    }
    $(function() {
        if(handle==="edit"){
             f_showDetectOptions(old_flow_algorithm_detect_code,old_flow_detect_class_names);
             f_showClassifyOptions(old_flow_algorithm_classify_code,old_flow_classify_class_names);
        }
    });
</script>

{% endblock javascripts %}
