{% extends "app/base_site.html" %}
{% block title %} 启动配置 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <style>

    .my_radio_label{
        font-size: 12px;
        color: black;
        padding: 4px;
    }
    .my_radio_label input{
        padding-left: 4px;
    }
    </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>启动配置
                <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                <span id="top_msg">{{top_msg}}</span>
              </h2>
              <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-horizontal form-label-left">

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件安装路径 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="install" required="required" value="{{config.install}}" class="form-control">
                  </div>
                </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >WINStartup <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="winStartup" required="required" value="{{config.winStartup}}" class="form-control">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >主机IP <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="host" required="required" value="{{config.host}}" class="form-control">
                  </div>
                </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >轮巡自动管理转发 <span class="required" style="color: red;">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="autoManagePatrolForward" value="1" class="flat"  {% if 1 == config.autoManagePatrolForward %}checked="checked"{% endif %} >
                    </label>
                    <label class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="autoManagePatrolForward" value="0" class="flat"  {% if 0 == config.autoManagePatrolForward %}checked="checked"{% endif %}  >
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件自启动 <span class="required" style="color: red;">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="autoStart" value="1" class="flat"  {% if 1 == config.autoStart %}checked="checked"{% endif %} >
                    </label>
                    <label class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="autoStart" value="0"  class="flat" {% if 0 == config.autoStart %}checked="checked"{% endif %}  >
                    </label>

                  </div>
                </div>

                         <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >报警存储路径 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="storageDir" required="required" value="{{config.storageDir}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >报警数据保存天数<span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="autoSaveAlarmDay" value="{{config.autoSaveAlarmDay}}" required="required" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >报警数据清理类型<span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="autoClearAlarmLevel" value="{{config.autoClearAlarmLevel}}" required="required" class="form-control">
                  </div>
                </div>

              <!-- analyzer -->


<div class="ln_solid"></div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >模型缓存时长<span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="cacheModelMaxDuration" value="{{config.analyzer.cacheModelMaxDuration}}" required="required" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >H264硬件解码器 <span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="hardwareH264Decoder" value="{{config.analyzer.hardwareH264Decoder}}" required="required" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >H265硬件解码器 <span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="hardwareH265Decoder" value="{{config.analyzer.hardwareH265Decoder}}" required="required" class="form-control">
                  </div>
                </div>


                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">硬件编码器 <span class="required" style="color: red;">*</span>
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="hardwareEncoder" value="{{config.analyzer.hardwareEncoder}}" class="form-control">
                  </div>
                </div>

              <div class="ln_solid"></div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP服务器IP <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerIp" required="required" value="{{config.sipServer.sipServerIp}}" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP服务器端口 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="sipServerPort" required="required" value="{{config.sipServer.sipServerPort}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP传输协议 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <label class="my_radio_label">UDP&nbsp;&nbsp;<input type="radio" name="sipTransferMode" value="0" class="flat"  {% if 0 == config.sipServer.sipTransferMode %}checked="checked"{% endif %} >
                        </label>
                        <label  class="my_radio_label">TCP&nbsp;&nbsp;<input type="radio" name="sipTransferMode" value="1" class="flat"  {% if 1 == config.sipServer.sipTransferMode %}checked="checked"{% endif %} >
                        </label>

                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP服务器ID <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerId" required="required" value="{{config.sipServer.sipServerId}}" class="form-control">
                  </div>
                </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP服务器域 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerRealm" required="required" value="{{config.sipServer.sipServerRealm}}" class="form-control">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >SIP服务器密码 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerPass" required="required" value="{{config.sipServer.sipServerPass}}" class="form-control">
                  </div>
                </div>

                      <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >RTP传输协议 <span class="required" style="color: red;">*</span>
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                            <label class="my_radio_label">UDP被动&nbsp;&nbsp;<input type="radio" name="rtpTransferMode" value="0" class="flat"  {% if 0 == config.sipServer.rtpTransferMode %}checked="checked"{% endif %} >
                            </label>
                            <label  class="my_radio_label">TCP被动&nbsp;&nbsp;<input type="radio" name="rtpTransferMode" value="1" class="flat"  {% if 1 == config.sipServer.rtpTransferMode %}checked="checked"{% endif %} >
                            </label>

                  </div>
                </div>

                <div class="ln_solid"></div>

            <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">映射表</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea rows="4" name="mapping" class="form-control col-md-7 col-xs-12">{{ mapping }}</textarea>
                      </div>
                </div>



                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="f_handle()"  class="btn btn-success">保存</button>
                    <button type="button" onclick="f_reboot()"  class="btn btn-danger">重启操作系统</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");

    function f_docs() {
        let url= "{{ settings.docs.systemConfig }}";
        window.open(url);
    }
    function f_handle() {
        let ele_install = $("input[name='install']");
        let ele_winStartup = $("input[name='winStartup']");
        let ele_storageDir = $("input[name='storageDir']");
        let ele_host = $("input[name='host']");
        let ele_autoManagePatrolForward = $("input[type=radio][name='autoManagePatrolForward']:checked");
        let ele_autoStart = $("input[type=radio][name='autoStart']:checked");

        let ele_autoSaveAlarmDay = $("input[name='autoSaveAlarmDay']");
        let ele_autoClearAlarmLevel = $("input[name='autoClearAlarmLevel']");

        let ele_cacheModelMaxDuration = $("input[name='cacheModelMaxDuration']");
        let ele_hardwareH264Decoder = $("input[name='hardwareH264Decoder']");
        let ele_hardwareH265Decoder = $("input[name='hardwareH265Decoder']");
        let ele_hardwareEncoder = $("input[name='hardwareEncoder']");

        let ele_sipServerIp = $("input[name='sipServerIp']");
        let ele_sipServerPort = $("input[name='sipServerPort']");
        let ele_sipTransferMode = $("input[type=radio][name='sipTransferMode']:checked");
        let ele_sipServerId = $("input[name='sipServerId']");
        let ele_sipServerRealm = $("input[name='sipServerRealm']");
        let ele_sipServerPass = $("input[name='sipServerPass']");
        let ele_rtpTransferMode = $("input[type=radio][name='rtpTransferMode']:checked");
        let ele_mapping= $("textarea[name='mapping']");


        let install = ele_install.val().trim();
        let winStartup = ele_winStartup.val().trim();
        let storageDir = ele_storageDir.val().trim();
        let host = ele_host.val().trim();
        let autoManagePatrolForward = parseInt(ele_autoManagePatrolForward.val());
        let autoStart = parseInt(ele_autoStart.val());

        let autoSaveAlarmDay = parseInt(ele_autoSaveAlarmDay.val());
        let autoClearAlarmLevel = parseInt(ele_autoClearAlarmLevel.val());

        //分析器参数
        let cacheModelMaxDuration = parseInt(ele_cacheModelMaxDuration.val());
        let hardwareH264Decoder = ele_hardwareH264Decoder.val().trim();
        let hardwareH265Decoder = ele_hardwareH265Decoder.val().trim();
        let hardwareEncoder = ele_hardwareEncoder.val().trim();

        //SIP服务器参数
        let sipServerIp = ele_sipServerIp.val();
        let sipServerPort = parseInt(ele_sipServerPort.val());
        let sipTransferMode = parseInt(ele_sipTransferMode.val());
        let sipServerId = ele_sipServerId.val();
        let sipServerRealm = ele_sipServerRealm.val();
        let sipServerPass = ele_sipServerPass.val();
        let rtpTransferMode = parseInt(ele_rtpTransferMode.val());

        //mapping参数
        let mapping = ele_mapping.val().trim();

        $.ajax({
           url: "/system/config",
           type: "post",
           async: true,
           data: {
               "install":install,
               "storageDir":storageDir,
               "winStartup":winStartup,
               "host":host,
               "autoManagePatrolForward":autoManagePatrolForward,
               "autoStart":autoStart,
               "autoSaveAlarmDay":autoSaveAlarmDay,
               "autoClearAlarmLevel":autoClearAlarmLevel,

               "cacheModelMaxDuration":cacheModelMaxDuration,
               "hardwareH264Decoder":hardwareH264Decoder,
               "hardwareH265Decoder":hardwareH265Decoder,
               "hardwareEncoder":hardwareEncoder,

               "sipServerIp":sipServerIp,
               "sipServerPort":sipServerPort,
               "sipTransferMode":sipTransferMode,
               "sipServerId":sipServerId,
               "sipServerRealm":sipServerRealm,
               "sipServerPass":sipServerPass,
               "rtpTransferMode":rtpTransferMode,

               "mapping": mapping
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });
    }
    function f_reboot() {
        $.ajax({
           url: "/system/reboot",
           type: "post",
           async: true,
           data: {
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);
               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }

</script>

{% endblock javascripts %}
