{% extends "app/base_site.html" %}

{% block title %} 系统设置 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
<style>
    input[type="file"]{
      color: #3a3636;
      font-size: 12px;
    }
    ::file-selector-button{
      font-size: 12px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #8f9093;
      padding: 2px 4px;
      background-color: #8f9093;
      cursor: pointer;
    }

</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>系统设置
                <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                <span id="top_msg">{{top_msg}}</span>
              </h2>
              <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="form-horizontal form-label-left" >
                    <!--
                    <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                    </p>
                    <span class="section">Personal Info</span>
                    -->
                    <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-md-offset-3">
                              <h4>导出配置</h4>
                              <p style="margin-top: 10px;"><button type="button" onclick="f_export_settings()" class="btn btn-primary btn-sm"  >导出配置</button> 导出软件配置参数（不包括报警数据）</p>
                          </div>
                          <div class="col-md-6 col-sm-6 col-md-offset-3">
                                <h4>导出日志</h4>
                              <p style="margin-top: 10px;"><button type="button" onclick="f_export_logs()" class="btn btn-primary btn-sm" >导出日志</button> 导出软件运行日志（可以提供给开发者排查问题）</p>
                          </div>
                    </div>

                    <div class="ln_solid"></div>
                      <div class="form-group">
                          <div class="col-md-6 col-sm-6 col-md-offset-3">
                              <h4>导入配置</h4>
                                <p style="margin-top: 10px;">
                                    <input type="file" name="file" accept=".xcsettings" class="form-control" placeholder="浏览配置文件" >
                                </p>
                                <p style="margin-top: 10px;"><button type="button" onclick="f_import_settings()" class="btn btn-primary btn-sm"  >导入配置</button></p>
                          </div>
                    </div>

                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleFile = $("input[name='file']");

    function f_docs() {
        let url= "{{ settings.docs.systemSettings }}";
        window.open(url);
    }
    function f_export_settings() {
        //导出配置
        ele_top_loading.show();
        $.ajax({
           url: "/system/postExportSettings",
           type: "post",
           async: true,
           data: {},
           dataType: "json",
           timeout: 0,
           error: function () {
               ele_top_loading.hide();
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                    let info = res.info;
                    let export_filename = info["export_filename"]
                    let download_url = "/storage/download?filename="+export_filename;
                    window.open(download_url);
               }else{
                    myAlert(res.msg,"error",3000);
               }
           }
        });

    }

    function f_export_logs(){
        //导出日志
        ele_top_loading.show();
        $.ajax({
           url: "/system/postExportLogs",
           type: "post",
           async: true,
           data: {},
           dataType: "json",
           timeout: 0,
           error: function () {
               ele_top_loading.hide();
               myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               ele_top_loading.hide();
               if(1000 === res.code){
                    let info = res.info;
                    let export_filename = info["export_filename"]
                    let download_url = "/storage/download?filename="+export_filename;
                    window.open(download_url);
               }else{
                   myAlert(res.msg,"error",3000);
               }
           }
        });

    }

    function f_import_settings() {
        //导入配置
        if (eleFile[0].files.length > 0){
           let file = eleFile[0].files[0];
           console.log("file",file)
            //let fs_name = file.name;
            //let fs_size = file.size;//文件字节大小
            //let fs_size_m = parseInt(fs_size / 1024 / 1024); //换算成M单位

            let formData = new FormData();
            formData.append('file',file)
            ele_top_loading.show();

            $.ajax({
              url:"/system/postImportSettings",
              type:'post',
              async: true,
              contentType:false,
              processData:false,
              data:formData,
              dataType: "json",
              timeout: 0,
              error: function () {
                  ele_top_loading.hide();
                  myAlert("网络异常，请确定网络正常！","error");
              },
              success: function (res) {
                  ele_top_loading.hide();
                    if (1000 === res.code) {
                        myAlert(res.msg,"success");
                    }else{
                        myAlert(res.msg,"error",3000);
                    }
              }
            });

        }else{
            myAlert("请选择配置文件！","error");
        }

    }

</script>

{% endblock javascripts %}
