{% extends "app/base_site.html" %}
{% block title %} 启动配置 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
    <style>

    .my_radio_label{
        font-size: 12px;
        color: black;
        padding: 4px;
    }
    .my_radio_label input{
        padding-left: 4px;
    }
    </style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>启动配置
                <span id="top_loading" ><img class="top_loading_img" src="/static/images/load.gif" alt="loading">加载中</span>
                <span id="top_msg">{{top_msg}}</span>
              </h2>
              <button style="margin-left:5px;" onclick="f_docs()" class="btn btn-primary btn-sm">文档</button>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-horizontal form-label-left">
                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件名称 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="name" required="required" value="{{config.name}}" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件描述
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="describe" required="required" value="{{config.describe}}" class="form-control">
                  </div>
                </div>


                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件安装路径 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="install" required="required" value="{{config.install}}" class="form-control">
                  </div>
                </div>


                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >主机IP 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="host" required="required" value="{{config.host}}" class="form-control">
                  </div>
                </div>

                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >轮巡自动管理转发 
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="autoManagePatrolForward" value="1" class="flat"  {% if 1 == config.autoManagePatrolForward %}checked="checked"{% endif %} >
                    </label>
                    <label class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="autoManagePatrolForward" value="0" class="flat"  {% if 0 == config.autoManagePatrolForward %}checked="checked"{% endif %}  >
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >软件自启动 
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="autoStart" value="1" class="flat"  {% if 1 == config.autoStart %}checked="checked"{% endif %} >
                    </label>
                    <label class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="autoStart" value="0"  class="flat" {% if 0 == config.autoStart %}checked="checked"{% endif %}  >
                    </label>

                  </div>
                </div>

                         <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >数据存储路径 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="storageDir" required="required" value="{{config.storageDir}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >存储报警最大容量(G)
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="storageAlarmMaxSize" value="{{config.storageAlarmMaxSize}}" required="required" class="form-control">
                    <span style="color: red;font-size: 12px;" id="alarmFolderSize"></span>
                   </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >存储录像最大容量(G)
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="storageRecordMaxSize" value="{{config.storageRecordMaxSize}}" required="required" class="form-control">
                 <span style="color: red;font-size: 12px;" id="recordFolderSize"></span>
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >算法实例缓存时长(s)
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="flowInstanceMaxDuration" value="{{config.flowInstanceMaxDuration}}" required="required" class="form-control">
                  </div>
                </div>


              <!-- nvsServer -->

<div class="ln_solid"></div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >nvs服务器IP
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="nvsServerIp" value="{{config.nvsServer.nvsServerIp}}" required="required" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >服务器端口
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="nvsServerPort" value="{{config.nvsServer.nvsServerPort}}" required="required" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">服务器序列号
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="nvsServerKey" value="{{config.nvsServer.nvsServerKey}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">服务器密钥
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="nvsServerSecret" value="{{config.nvsServer.nvsServerSecret}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">心跳间隔(s)
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="heartInterval" value="{{config.nvsServer.heartInterval}}" class="form-control">
                  </div>
                </div>
                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">重连间隔(s)
                  </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="reConnectInterval" value="{{config.nvsServer.reConnectInterval}}" class="form-control">
                  </div>
                </div>

                                              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >是否开启 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <label class="my_radio_label">开启&nbsp;&nbsp;<input type="radio" name="nvsServer_enable" value="1" class="flat"  {% if 1 == config.nvsServer.enable %}checked="checked"{% endif %} >
                        </label>
                        <label  class="my_radio_label">关闭&nbsp;&nbsp;<input type="radio" name="nvsServer_enable" value="0" class="flat"  {% if 0 == config.nvsServer.enable %}checked="checked"{% endif %} >
                        </label>

                  </div>
                </div>


              <div class="ln_solid"></div>
              <!-- GB28181 -->


                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >gb28181服务器IP
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerIp" required="required" value="{{config.sipServer.sipServerIp}}" class="form-control">
                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >服务器端口 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="sipServerPort" required="required" value="{{config.sipServer.sipServerPort}}" class="form-control">
                  </div>
                </div>

                                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >信令传输协议 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <label class="my_radio_label">UDP&nbsp;&nbsp;<input type="radio" name="sipTransferMode" value="0" class="flat"  {% if 0 == config.sipServer.sipTransferMode %}checked="checked"{% endif %} >
                        </label>
                        <label  class="my_radio_label">TCP&nbsp;&nbsp;<input type="radio" name="sipTransferMode" value="1" class="flat"  {% if 1 == config.sipServer.sipTransferMode %}checked="checked"{% endif %} >
                        </label>

                  </div>
                </div>

                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >服务器ID 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerId" required="required" value="{{config.sipServer.sipServerId}}" class="form-control">
                  </div>
                </div>
                  <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >服务器域 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerRealm" required="required" value="{{config.sipServer.sipServerRealm}}" class="form-control">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >服务器密码 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="sipServerPass" required="required" value="{{config.sipServer.sipServerPass}}" class="form-control">
                  </div>
                </div>

                      <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" >数据传输协议 
                  </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                            <label class="my_radio_label">UDP被动&nbsp;&nbsp;<input type="radio" name="rtpTransferMode" value="0" class="flat"  {% if 0 == config.sipServer.rtpTransferMode %}checked="checked"{% endif %} >
                            </label>
                            <label  class="my_radio_label">TCP被动&nbsp;&nbsp;<input type="radio" name="rtpTransferMode" value="1" class="flat"  {% if 1 == config.sipServer.rtpTransferMode %}checked="checked"{% endif %} >
                            </label>

                  </div>
                </div>

                <div class="ln_solid"></div>

            <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">映射表</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                              <textarea rows="4" name="mapping" class="form-control col-md-7 col-xs-12">{{ mapping }}</textarea>
                      </div>
                </div>



                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" onclick="f_handle()"  class="btn btn-success">保存</button>
                    <button type="button" onclick="f_restartApp()"  class="btn btn-danger">重启软件</button>
                    <button type="button" onclick="f_restartOS()"  class="btn btn-danger">重启操作系统</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
    let ele_top_loading = $("#top_loading");
    let ele_top_msg= $("#top_msg");
    let eleAlarmFolderSize = $("#alarmFolderSize")
    let eleRecordFolderSize = $("#recordFolderSize")

    function f_docs() {
        let url= "{{ settings.docs.systemConfig }}";
        window.open(url);
    }
    function f_handle() {
        //基础参数
        let eleName = $("input[name='name']");
        let eleDescribe = $("input[name='describe']");
        let ele_install = $("input[name='install']");
        let ele_storageDir = $("input[name='storageDir']");
        let ele_host = $("input[name='host']");
        let ele_autoManagePatrolForward = $("input[type=radio][name='autoManagePatrolForward']:checked");
        let ele_autoStart = $("input[type=radio][name='autoStart']:checked");
        let eleStorageAlarmMaxSize = $("input[name='storageAlarmMaxSize']");
        let eleStorageRecordMaxSize = $("input[name='storageRecordMaxSize']");
        let eleFlowInstanceMaxDuration = $("input[name='flowInstanceMaxDuration']");

        let name = eleName.val().trim();
        let describe = eleDescribe.val().trim();
        let install = ele_install.val().trim();
        let storageDir = ele_storageDir.val().trim();
        let host = ele_host.val().trim();
        let autoManagePatrolForward = parseInt(ele_autoManagePatrolForward.val());
        let autoStart = parseInt(ele_autoStart.val());
        let storageAlarmMaxSize = parseInt(eleStorageAlarmMaxSize.val());
        let storageRecordMaxSize = parseInt(eleStorageRecordMaxSize.val());
        let flowInstanceMaxDuration = parseInt(eleFlowInstanceMaxDuration.val());

        //xcnvs
        let eleNvsServerIp = $("input[name='nvsServerIp']");
        let eleNvsServerPort = $("input[name='nvsServerPort']");
        let eleNvsServerKey= $("input[name='nvsServerKey']");
        let eleNvsServerSecret= $("input[name='nvsServerSecret']");
        let eleHeartInterval= $("input[name='heartInterval']");
        let eleReConnectInterval= $("input[name='reConnectInterval']");
        let eleNvsServer_enable = $("input[type=radio][name='nvsServer_enable']:checked"); //开启或关闭

        let nvsServerIp = eleNvsServerIp.val().trim();
        let nvsServerPort = parseInt(eleNvsServerPort.val());
        let nvsServerKey = eleNvsServerKey.val().trim();
        let nvsServerSecret = eleNvsServerSecret.val().trim();
        let heartInterval = parseInt(eleHeartInterval.val());
        let reConnectInterval = parseInt(eleReConnectInterval.val());
        let nvsServer_enable = parseInt(eleNvsServer_enable.val());

        //gb28181
        let ele_sipServerIp = $("input[name='sipServerIp']");
        let ele_sipServerPort = $("input[name='sipServerPort']");
        let ele_sipTransferMode = $("input[type=radio][name='sipTransferMode']:checked");
        let ele_sipServerId = $("input[name='sipServerId']");
        let ele_sipServerRealm = $("input[name='sipServerRealm']");
        let ele_sipServerPass = $("input[name='sipServerPass']");
        let ele_rtpTransferMode = $("input[type=radio][name='rtpTransferMode']:checked");

        let sipServerIp = ele_sipServerIp.val();
        let sipServerPort = parseInt(ele_sipServerPort.val());
        let sipTransferMode = parseInt(ele_sipTransferMode.val());
        let sipServerId = ele_sipServerId.val();
        let sipServerRealm = ele_sipServerRealm.val();
        let sipServerPass = ele_sipServerPass.val();
        let rtpTransferMode = parseInt(ele_rtpTransferMode.val());

        //mapping参数
        let eleMapping= $("textarea[name='mapping']");
        let mapping = eleMapping.val().trim();


        $.ajax({
           url: "/system/config",
           type: "post",
           async: true,
           data: {
               "name":name,
               "describe":describe,
               "install":install,
               "host":host,
               "storageDir":storageDir,
               "autoManagePatrolForward":autoManagePatrolForward,
               "autoStart":autoStart,
               "storageAlarmMaxSize":storageAlarmMaxSize,
               "storageRecordMaxSize":storageRecordMaxSize,
               "flowInstanceMaxDuration":flowInstanceMaxDuration,
               "mapping": mapping,
                //xcnvs
               "nvsServerIp":nvsServerIp,
               "nvsServerPort":nvsServerPort,
               "nvsServerKey":nvsServerKey,
               "nvsServerSecret":nvsServerSecret,
               "heartInterval":heartInterval,
               "reConnectInterval":reConnectInterval,
               "enable":nvsServer_enable,

                //gb28181
               "sipServerIp":sipServerIp,
               "sipServerPort":sipServerPort,
               "sipTransferMode":sipTransferMode,
               "sipServerId":sipServerId,
               "sipServerRealm":sipServerRealm,
               "sipServerPass":sipServerPass,
               "rtpTransferMode":rtpTransferMode
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);
               }else{
                    myAlert(res.msg,"error");
               }
           }
        });
    }
    function f_getStorageInfo() {
        $.ajax({
           url: "/storage/info",
           type: "get",
           async: true,
           data: {
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   try {
                       let info = res["info"];
                       eleAlarmFolderSize.html("已用 "+info["alarmFolderSize"].toString()+"G");
                       eleRecordFolderSize.html("已用 "+info["recordFolderSize"].toString()+"G");
                   }catch (e) {
                       console.log(e)
                   }

               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }
    function f_restartApp() {
        $.ajax({
           url: "/open/restartApp",
           type: "post",
           async: true,
           data: {
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);
               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }
    function f_restartOS() {
        $.ajax({
           url: "/open/restartOS",
           type: "post",
           async: true,
           data: {
           },
           dataType: "json",
           timeout: 0,
           error: function () {
                myAlert("网络异常，请确定网络正常！","error");
           },
           success: function (res) {
               if(1000 === res.code){
                   myAlert(res.msg,"success",2000);
               }else{
                   myAlert(res.msg,"error");
               }
           }
        });
    }

    $(function(){
        f_getStorageInfo();
    })


</script>

{% endblock javascripts %}
